{% extends 'emails/mail_confirmation_client.html' %}

{% block title %}
    <h1>Hola {{ nombre }} &#128400; <br> Su solicitud de inscripción ha sido rechazada &#128542;</h1>
{% endblock title %}

{% block cuerpo %}
    <section>
        <h3 style="text-align: center"><b>Descripción del rechazo:</b> {{ descripcion }}</h3>
        <h4 style="text-align: center">El adjunto de este correo contiene un documento de requerimientos para la realización de solicitudes
            de la Agencia Cuabana del Libro.</h4>
        <hr>
    </section>
{% endblock cuerpo %}