{% extends 'editores/editores-list.html' %}

{% block title %} Solicitudes de Inscripción {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Solicitudes
{% endblock navbar-content %}

{% block btn-add %}
    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exporting_pModal">
                    <i class="fas fa-file-export "></i>&nbsp;&nbsp;Exportar Tabla</a>
    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#statisticsBackdrop">
                    <i class="fas fa-bar-chart"></i>&nbsp;&nbsp;Estadísticas</a>
{% endblock btn-add %}

{% block search_bar_link %}
    <a href="{% url 'backend_solicitudes' 'list_asc' %}" class="btn btn-dark" style="margin-left: 2px"><i class="fas fa-sync-alt"></i></a>
{% endblock search_bar_link %}

{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'backend_publicaciones' 'list_dsc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Publicaciones</a>
    <a class="btn btn-dark" href="{% url 'backend_editores' 'list_asc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Editores</a>
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Inicio</a>
    <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}

{% block title-table %}
    <th style="width: 10%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            ID &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 20%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Editor &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 24%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Fecha &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 24%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Tipo &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 17%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Estado &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 6%;" colspan="2" class="th_button"><a style="border-radius: 0" href="#" class="btn btn-secondary btn-header-list">Acciones</a></th>
{% endblock title-table %}

{% block for-data-table %}
    {% for solicitud in solicitudes %}
        <tr id="chk_td">
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.editor|default:'-' }}</td>
            <td>{{ solicitud.created_at }}</td>
            <td>{{ solicitud.tipo }}</td>
            {% if solicitud.status == 'Pendiente' %}
                <td style="color: red"><b>{{ solicitud.status }}</b></td>
            {% else %}
                <td style="color: darkgreen"><b>{{ solicitud.status }}</b></td>
            {% endif %}
            {% if solicitud.status == 'Pendiente' %}
                <td>
                    <a class="btn btn-sm btn-info" title="Más Información" data-bs-toggle="modal" data-bs-target="#infoModal{{ solicitud.id }}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            {% elif solicitud.status == 'Atendido' %}
                <td>
                    <button type="button" class="btn btn-sm btn-success" title="Hecho"><i class="fas fa-check"></i></button>
                </td>
            {% endif %}
            <td>
                <a class="btn btn-sm btn-secondary" title="Eliminar Publicacion" data-bs-toggle="modal" data-bs-target="#deleteModal{{ solicitud.pk }}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>

        <div class="modal fade" id="deleteModal{{ solicitud.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Eliminar Solicitud</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <div class="text-center text-danger"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i></div>
                  <div class="text-center text-danger">
                      <span>ESTÁS SEGURO QUE DESEAS ELIMINAR ESTA SOLICITUD ???</span>
                      {% if solicitud.tipo == 'Solicitud-ISMN' %}
                         <div class="text-dark mt-3 mb-2 "><b>{{ solicitud.tipo }}: {{ solicitud.temporal.title|default:solicitud.editor }} </b></div>
                      {% else %}
                          <div class="text-dark mt-3 mb-2 "><b>{{ solicitud.tipo }}: {{ solicitud.temporal.first_name|default:solicitud.editor }} </b></div>
                      {% endif %}
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                  <a href="{% url 'delete_solicitud' solicitud.id %}" type="button"
                     class="btn btn-outline-danger btn-sm">Eliminar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="infoModal{{ solicitud.id }}" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel"><i class="fas fa-info"></i>&nbsp;&nbsp;Información de la Solicitud.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <h4 class="display-6 mb-3">{{ solicitud }}</h4>
                  {% if solicitud.tipo == 'Solicitud-Inscripción' %}
                      <div class="container_img mb-4" style="background-color: transparent;">
                          <img class="card-img img_detail" src="{{ solicitud.temporal.imagenProfile }}" alt="imagen del solicitante">
                      </div>
                      <div class="container-fluid" style="font-size: large; text-align: left">
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Nombre de Usuario:</strong> &nbsp;&nbsp;{{ solicitud.temporal.username }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Teléfono:</strong> &nbsp;&nbsp;{{ solicitud.temporal.phone }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Correo:</strong> &nbsp;&nbsp;{{ solicitud.temporal.email }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Nombre:</strong> &nbsp;&nbsp;{{ solicitud.temporal.first_name }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Tipo de Editor:</strong> &nbsp;&nbsp;{{ solicitud.temporal.editorType }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Edad:</strong> &nbsp;&nbsp;{{ solicitud.temporal.age|default:'-' }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Apellido:</strong> &nbsp;&nbsp;{{ solicitud.temporal.last_name|default:'-' }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Dirección:</strong> &nbsp;&nbsp;{{ solicitud.temporal.address }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>ID Tributaria:</strong> &nbsp;&nbsp;{{ solicitud.temporal.idTribute }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Descripción:</strong> &nbsp;&nbsp;{{ solicitud.temporal.note }}
                            </div>
                          </div>
                      </div>

                      <div class="modal-footer justify-content-center">
                        <button type="button" style="border: transparent; background-color: transparent" data-bs-dismiss="modal">
                            <a href="{% url 'accept_inscription' solicitud.id %}" type="button" class="btn btn-outline-dark"><i class="fas fa-file-export "></i>&nbsp;&nbsp;Aceptar</a>
                        </button>
                      </div>
                  {% elif solicitud.tipo == 'Solicitud-ISMN' %}
                      <h4 class="display-6 mb-3">{{ solicitud.temporal.tipo }}</h4>
                      <div class="container_img mb-4" style="background-color: transparent;">
                          <img class="card-img img_detail" src="{{ solicitud.temporal.publication_image|default:'/media/default.jpg' }}" alt="imagen musical">
                      </div>
                      <div class="container-fluid" style="font-size: large; text-align: left">
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Título:</strong> &nbsp;&nbsp;{{ solicitud.temporal.title }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Fecha de creación:</strong> &nbsp;&nbsp;{{ solicitud.temporal.date }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Autor:</strong> &nbsp;&nbsp;{{ solicitud.temporal.autor }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Editor:</strong> &nbsp;&nbsp;{{ solicitud.editor.user.first_name }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>ISMN (Generado):</strong> &nbsp;&nbsp;{{ solicitud.temporal.ismn }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Género Musical:</strong> &nbsp;&nbsp;{{ solicitud.temporal.gender }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Letra:</strong> &nbsp;&nbsp;<a href="{{ solicitud.temporal.publication_letra }}">{{ solicitud.temporal.publication_letra }}</a>
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Descripción:</strong> &nbsp;&nbsp;{{ solicitud.temporal.note }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Fecha de solicitud:</strong> &nbsp;&nbsp;{{ solicitud.created_at }}
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="button" style="border: transparent; background-color: transparent" data-bs-dismiss="modal">
                            <a href="{% url 'accept_ismn_application' solicitud.id %}" type="button"
                               class="btn btn-outline-dark"><i class="fas fa-file-export "></i>&nbsp;&nbsp;Aceptar</a>
                        </button>
                      </div>
                  {% else %}
                      <div class="row mb-1">
                        <div class="col-12">
                            <p class="display-2">Solicitud Atendida</p>
                        </div>
                      </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock for-data-table %}

{% block pagination %}
    <nav class="mt-4" aria-label="Page navigation example">
        {% if solicitudes.has_other_pages %}
            <ul class="pagination justify-content-left">
            {% if solicitudes.has_previous %}
                <a href="?page=1" class="btn btn-outline-primary mb-4" style="width: auto; border-radius: 1px; border: 1px solid #d3d3d3">Primera</a>
                <li class="page-item"><a class="page-link" href="?page={{ solicitudes.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}

            {% if solicitudes.number|add:'-2' > 1 %}
                <li><a class="page-link" href="?page={{ solicitudes.number|add:'-2' }}">&hellip;</a></li>
            {% endif %}

            {% for i in solicitudes.paginator.page_range %}
                {% if solicitudes.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                {% elif i > solicitudes.number|add:'-2' and i < solicitudes.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if solicitudes.paginator.num_pages > solicitudes.number|add:'2' %}
                <li><a class="page-link" href="?page={{ solicitudes.number|add:'-2' }}">&hellip;</a></li>
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                <li><a class="page-link" href="?page={{ solicitudes.paginator.num_pages }}">{{ solicitudes.paginator.num_pages }}</a></li>
            {% endif %}

            {% if solicitudes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ solicitudes.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
                <a href="?page={{ solicitudes.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width: auto; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Última</a>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}
            </ul>
        {% endif %}
    </nav>
{% endblock pagination %}

{% block exporting_options %}
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12 ms-auto" style="text-align: left">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="sol_editor" id="floatingInput" placeholder="Editor">
                      <label for="floatingInput">Nombre del editor</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="date" class="form-control" placeholder="" id="floatingTextarea2" name="fecha">
                        <label for="floatingTextarea2">Solicitudes enviadas después de:</label>
                        <p id="p_error" class="text-danger fw-light text-start" style="font-size: small; margin-left: 12px" hidden></p>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12" style="text-align: left;">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelect" name="tipo" aria-label="Floating label select example">
                          <option selected>Todos</option>
                          <option value="Solicitud-Inscripción">Solicitud-Inscripción</option>
                          <option value="Solicitud-ISMN">Solicitud-ISMN</option>
                      </select>
                      <label for="floatingSelect">Selecciona un tipo de solicitud</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12" style="text-align: left;">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelect" name="estado" aria-label="Floating label select example">
                          <option selected>Ambos</option>
                          <option value="Pendiente">Pendiente</option>
                          <option value="Atendido">Atendido</option>
                      </select>
                      <label for="floatingSelect">Selecciona el estado de las solicitudes</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4 mb-4">
                <div class="col-12 form-check form-switch" style="text-align: left; margin-left: 15px">
                  <input class="form-check-input" style="cursor: pointer;" type="checkbox" name="orden" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Orden LIFO</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <label for="customRange2" class="form-label">Cantidad de elementos?</label>
                  <input type="range" class="form-range" value="4" style="height: 5px" min="0" max="4" name="cant_element" id="customRange2">
                  <div class="d-flex">
                      <span>1</span>
                      <span style="margin-left: 23%">10</span>
                      <span style="margin-left: 22.3%">25</span>
                      <span style="margin-left: 22%">40</span>
                      <span style="margin-left: auto">Todos</span>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock exporting_options %}

{% block statistics-modal %}
    <div class="modal-body">
        <div class="container-fluid">
            <h1 class="display-6 text-primary-emphasis mb-3 pl-3 fs-2">Solicitudes, Reportes y Estadísticas</h1>
            <div class="border-bottom border-4 mb-4"></div>
            <div class="row mb-2">
                <div class="col-lg-6 col-md-12" style="min-width: 450px; height: 500px; flex-grow: 1; flex-basis: 0">
                    <div class="d-flex justify-content-start">
                        <button type="button" id="add_data_line_chart" class="btn btn-sm btn-outline-primary mb-1" style="margin-left: 35px"><i class="fas fa-plus"></i>&nbsp;&nbsp;Más datos</button>
                        <button type="button" id="remove_data_line_chart" class="btn btn-sm btn-outline-secondary mb-1" style="margin-left: 10px"><i class="fa fa-minus"></i>&nbsp;&nbsp;Menos datos</button>
                    </div>
                    <canvas role="graphics-object" width="450" height="400" aria-label="Line Charts Solicitudes" id="myChart"></canvas>
                </div>
                <div class="col-lg-6 col-md-12" style="flex-basis: 300px; align-content: center; padding: 0">
                    <div class="d-flex justify-content-start flex-wrap" style="margin-top: -70px">
                        <i class="fa-solid fa-circle-xmark text-primary-emphasis fs-1"></i>
                        <h4 class="display-5 font-weight-light fs-5 text-primary-emphasis align-self-center">
                            &nbsp;&nbsp;Solicitudes rechazadas.
                        </h4>
                    </div>
                    <p class=" display-6 fs-6" style="max-width: 200px; text-align: justify; margin-left: 50px">
                        Cantidad de solicitudes rechazadas según su tipo (ISMN ó Inscripción).
                    </p>
                    <b class="display-5 fs-5 text-center text-primary-emphasis">Total: {{ solicitudes_rechazadas.count }}.</b>
                </div>
            </div>
            <hr class="mb-3">
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center mb-4 flex-wrap mt-1 mb-2">
                        <i class="fa-solid fa-envelope-square text-primary-emphasis fs-1"></i>
                        <h4 class="display-6 font-weight-light fs-5 text-primary-emphasis mt-auto">
                            &nbsp;&nbsp;Solicitudes recibidas. Último días.
                        </h4>
                    </div>
                    <div class="d-flex justify-content-start">
                        <button type="button" id="add_data_bar_chart" class="btn btn-sm btn-outline-primary mb-1" style="margin-left: 22px"><i class="fas fa-plus"></i>&nbsp;&nbsp;Más datos</button>
                        <button type="button" id="remove_data_bar_chart" class="btn btn-sm btn-outline-secondary mb-1" style="margin-left: 10px"><i class="fa fa-minus"></i>&nbsp;&nbsp;Menos datos</button>
                    </div>
                    <canvas role="graphics-object" width="450" height="400" aria-label="Bar Charts Solicitudes" id="myChart2"></canvas>
                </div>
                <div class="col-lg-1" style="max-width: 10px">
                    <div class="border-start border-1 text-dark" style="height: 450px"></div>
                </div>
                <div class="col-lg-5" style="width: 400px">
                    <div class="d-flex justify-content-center flex-wrap mt-1 mb-3">
                        <i class="fa-solid fa-check-circle text-primary-emphasis fs-1"></i>
                        <h4 class="display-6 font-weight-light fs-5 text-primary-emphasis mt-auto">
                            &nbsp;&nbsp;Solicitudes aceptadas. Último mes.
                        </h4>
                    </div>
                    <div style="max-height: 400px; width: border-box; overflow-y: auto">
                        <table class="table table-hover table-striped table-sm" >
                          <thead>
                            <tr class="table-primary">
                              <th scope="col" class="text-center">&nbsp;Fecha</th>
                              <th scope="col" class="text-center">&nbsp;Tipo</th>
                              <th scope="col" class="text-center">&nbsp;Cantidad</th>
                            </tr>
                          </thead>
                          <tbody id="tabla">
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Tabla
        let tbody = document.getElementById('tabla');
        let html = '';
        let total = 0;

        {% for clave, valor in solicitudes_aceptadas.items %}
            {% for key, value in valor.items %}
                {% if key == 'Solicitud-ISMN' %}
                    html = `<tr>
                                <th scope="row">{{ clave|date:'d/m' }}</th>
                                <td>Solicitud-ISMN</td>
                                <td>{{ value }}</td>
                            </tr>`
                    tbody.insertAdjacentHTML('beforeend', html);
                    total += {{ value }};
                {% else %}
                    html = `<tr>
                                <th scope="row">-</th>
                                <td>Solicitud-Inscripción</td>
                                <td>{{ value }}</td>
                            </tr>`;
                    tbody.insertAdjacentHTML('beforeend', html);
                    total += {{ value }};
                {% endif %}
            {% endfor %}
        {% endfor %}

        html = `<tr>
                    <th></th>
                    <td><b>Total</b></td>
                    <td>${total}</td>
                </tr>`;
        tbody.insertAdjacentHTML('beforeend', html);

        // Charts
        function sumar_rechazo_mes(diccionario, year, mes) {
            if (!(year in diccionario)) {
                diccionario[year] = inicializar_meses();
            }
            if (!(mes in diccionario[year])) {
                diccionario[year][mes] = 0;
            }
            diccionario[year][mes]++;
            return diccionario;
        }

        // Inicializar los datos de los gráficos
      let ismn_rechazados = {}
      let inscrip_rechazados = {}
      let ismn_enviados = {}
      let inscrip_enviados = {}

      {% for solicitud_r in solicitudes_rechazadas %}
          {% if solicitud_r.tipo == 'Solicitud-ISMN' %}
              sumar_rechazo_mes(ismn_rechazados, {{ solicitud_r.created_at.year }}, '{{ solicitud_r.created_at|date:'b' }}')
          {% else %}
              sumar_rechazo_mes(inscrip_rechazados, {{ solicitud_r.created_at.year }}, '{{ solicitud_r.created_at|date:'b' }}')
          {% endif %}
      {% endfor %}


      {% for key, value in solicitudes_enviadas.items %}
          {% for clave, valor in value.items %}
              {% if clave == 'Solicitud-Inscripción' %}
                  inscrip_enviados["{{ key.year }}/{{ key.month }}/{{ key.day }}"] = {{ valor }};
              {% else %}
                  ismn_enviados["{{ key.year }}/{{ key.month }}/{{ key.day }}"] = {{ valor }};
              {% endif %}
          {% endfor %}
      {% endfor %}

      // Datos b para Chart.js
      const ctx = document.getElementById('myChart');
      const ctx2 = document.getElementById('myChart2');

      {#let inscrip_rechazados_lately = Object.values(inscrip_rechazados[{{ solicitudes_rechazadas.last.created_at.year }}]);#}
      {#let ismn_rechazados_lately = Object.values(ismn_rechazados[{{ solicitudes_rechazadas.last.created_at.year }}]);#}
      let labels_meses = months_label({{ solicitudes_rechazadas.last.created_at.month }});

      function cantidad_solicitudes_per_day(ismn_solicitudes_lis, inscrip_solicitudes_list){
          let total = ismn_solicitudes_lis.reduce((total, numero) => total + numero, 0);
          total += inscrip_solicitudes_list.reduce((total, numero) => total + numero);
          return total
      }

      const data = {
          labels: labels_meses,
          datasets: [
              {
                label: 'Solicitudes de Inscripción',
                data: [],
                borderColor: [
                  'rgb(56,56,56)'
                ],
                  backgroundColor: 'rgba(140, 140, 140, .5)',
                  fill: true,
                hoverOffset: 4
              },
              {
                label: 'Solicitudes ISMN',
                data: [],
                borderColor: [
                  'rgb(0,84,168)'
                ],
                  backgroundColor: 'rgba(99, 177, 255, .5)',
                  fill: true,
                hoverOffset: 4
              }
          ]
        };

      let inscrip_enviados_data = Object.values(inscrip_enviados).slice(-7);
      let ismn_enviados_data = Object.values(ismn_enviados).slice(-7);

      console.log("{{ solicitudes_enviadas }}")
      const data2 = {
          labels: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'],
          datasets: [
              {
                label: 'Solicitudes de Inscripción',
                data: inscrip_enviados_data,
                backgroundColor: 'rgb(140,140,140)',
                hoverOffset: 4,
                stack: 'Stack 0'
              },
              {
                label: 'Solicitudes ISMN',
                data: ismn_enviados_data,
                backgroundColor: 'rgb(99,177,255)',
                hoverOffset: 4,
                stack: 'Stack 0'
              }
          ]
        };

        // Obtener el día de la semana actual (0 para domingo, 1 para lunes, ..., 6 para sábado)
        const currentDay = new Date().getDay();

        // Reorganizar los días en los labels y data
        const reorderedLabels = data2.labels.slice(currentDay).concat(data2.labels.slice(0, currentDay));

        data2.labels = reorderedLabels

        let total_solicitudes_enviadas = cantidad_solicitudes_per_day(data2.datasets[0].data, data2.datasets[1].data)

      const options = {
          plugins: {
              legend: {
                  position: 'bottom'
              }
          },
          responsive: true
      }
      const options2 = {
          plugins: {
              legend: {
                  position: 'bottom'
              },
              title: {
                display: true,
                text: `Total: ${total_solicitudes_enviadas}.`,
                  position: 'bottom'
              }
          },
          responsive: true,
      }

      const ChartLines = new Chart(ctx, {
                              type: 'line',
                              data: data,
                              options: options
                          });
      const ChartBar = new Chart(ctx2, {
          type: 'bar',
          data: data2,
          options: options2
      });

      const addButtonLineChart = document.getElementById('add_data_line_chart');
      const rmvButtonLineChart = document.getElementById('remove_data_line_chart');
      const addButtonBarChart = document.getElementById('add_data_bar_chart');
      const rmvButtonBarChart = document.getElementById('remove_data_bar_chart');

      addButtonLineChart.addEventListener('click', function () {
          addDataLineChart(ChartLines, inscrip_rechazados, ismn_rechazados);
      });

      rmvButtonLineChart.addEventListener('click', function () {
          removeDataLineChart(ChartLines);
      });

      addButtonBarChart.addEventListener('click', function (){
          addDataBarChart(ChartBar, inscrip_enviados, ismn_enviados);
      });

      rmvButtonBarChart.addEventListener('click', function (){
          removeDataBarChart(ChartBar);
      });


    </script>
{% endblock statistics-modal %}
