{% extends 'editores/editores-list.html' %}

{% block title %} Solicitudes de Inscripción {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;Solicitudes
{% endblock navbar-content %}

{% block btn-add %}
    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exporting_pModal">
                    <i class="fas fa-file-export "></i>&nbsp;&nbsp;Exportar Tabla</a>
{% endblock btn-add %}

{% block search_bar_link %}
    <a href="{% url 'backend_solicitudes' 'list_asc' %}" class="btn btn-dark" style="margin-left: 2px"><i class="fas fa-sync-alt"></i></a>
{% endblock search_bar_link %}

{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'backend_publicaciones' 'list_dsc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Publicaciones</a>
    <a class="btn btn-dark" href="{% url 'backend_editores' 'list_asc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Editores</a>
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Inicio</a>
    <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}

{% block title-table %}
    <th style="width: 10%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            ID &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 20%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Editor &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 24%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Fecha &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 24%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Tipo &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 17%;" class="th_button">
        <a style="border-radius: 0" href="/backend_solicitudes/{{ flag }}" class="btn btn-secondary btn-header-list">
            Estado &nbsp;<i class="fa fa-arrows-up-down"></i>
        </a>
    </th>
    <th style="width: 6%;" colspan="2" class="th_button"><a style="border-radius: 0" href="#" class="btn btn-secondary btn-header-list">Acciones</a></th>
{% endblock title-table %}

{% block for-data-table %}
    {% for solicitud in solicitudes %}
        <tr id="chk_td">
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.editor|default:'-' }}</td>
            <td>{{ solicitud.created_at }}</td>
            <td>{{ solicitud.tipo }}</td>
            {% if solicitud.status == 'Pendiente' %}
                <td style="color: red"><b>{{ solicitud.status }}</b></td>
            {% else %}
                <td style="color: darkgreen"><b>{{ solicitud.status }}</b></td>
            {% endif %}
            {% if solicitud.status == 'Pendiente' %}
                <td>
                    <a class="btn btn-sm btn-info" title="Más Información" data-bs-toggle="modal" data-bs-target="#infoModal{{ solicitud.id }}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            {% elif solicitud.status == 'Atendido' %}
                <td>
                    <button type="button" class="btn btn-sm btn-success" title="Hecho"><i class="fas fa-check"></i></button>
                </td>
            {% endif %}
            <td>
                <a class="btn btn-sm btn-secondary" title="Eliminar Publicacion" data-bs-toggle="modal" data-bs-target="#deleteModal{{ solicitud.pk }}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>

        <div class="modal fade" id="deleteModal{{ solicitud.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Eliminar Solicitud</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <div class="text-center text-danger"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i></div>
                  <div class="text-center text-danger">
                      <span>ESTÁS SEGURO QUE DESEAS ELIMINAR ESTA SOLICITUD ???</span>
                      {% if solicitud.tipo == 'Solicitud-ISMN' %}
                         <div class="text-dark mt-3 mb-2 "><b>{{ solicitud.tipo }}: {{ solicitud.temporal.title|default:solicitud.editor }} </b></div>
                      {% else %}
                          <div class="text-dark mt-3 mb-2 "><b>{{ solicitud.tipo }}: {{ solicitud.temporal.first_name|default:solicitud.editor }} </b></div>
                      {% endif %}
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                  <a href="{% url 'delete_solicitud' solicitud.id %}" type="button"
                     class="btn btn-outline-danger btn-sm">Eliminar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="infoModal{{ solicitud.id }}" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel"><i class="fas fa-info"></i>&nbsp;&nbsp;Información de la Solicitud.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <h4 class="display-6 mb-3">{{ solicitud }}</h4>
                  {% if solicitud.tipo == 'Solicitud-Inscripción' %}
                      <div class="container_img mb-4" style="background-color: transparent;">
                          <img class="card-img img_detail" src="{{ solicitud.temporal.imagenProfile }}" alt="imagen del solicitante">
                      </div>
                      <div class="container-fluid" style="font-size: large; text-align: left">
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Nombre de Usuario:</strong> &nbsp;&nbsp;{{ solicitud.temporal.username }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Teléfono:</strong> &nbsp;&nbsp;{{ solicitud.temporal.phone }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Correo:</strong> &nbsp;&nbsp;{{ solicitud.temporal.email }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Nombre:</strong> &nbsp;&nbsp;{{ solicitud.temporal.first_name }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Tipo de Editor:</strong> &nbsp;&nbsp;{{ solicitud.temporal.editorType }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Edad:</strong> &nbsp;&nbsp;{{ solicitud.temporal.age|default:'-' }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Apellido:</strong> &nbsp;&nbsp;{{ solicitud.temporal.last_name|default:'-' }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Dirección:</strong> &nbsp;&nbsp;{{ solicitud.temporal.address }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>ID Tributaria:</strong> &nbsp;&nbsp;{{ solicitud.temporal.idTribute }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Descripción:</strong> &nbsp;&nbsp;{{ solicitud.temporal.note }}
                            </div>
                          </div>
                      </div>

                      <div class="modal-footer justify-content-center">
                        <button type="button" style="border: transparent; background-color: transparent" data-bs-dismiss="modal" id="btn-accept">
                            <a href="{% url 'accept_inscription' solicitud.id %}" type="button" class="btn btn-outline-dark"><i class="fas fa-file-export "></i>&nbsp;&nbsp;Aceptar</a>
                        </button>
                      </div>
                  {% elif solicitud.tipo == 'Solicitud-ISMN' %}
                      <h4 class="display-6 mb-3">{{ solicitud.temporal.tipo }}</h4>
                      <div class="container_img mb-4" style="background-color: transparent;">
                          <img class="card-img img_detail" src="{{ solicitud.temporal.publication_image|default:'/media/default.jpg' }}" alt="imagen musical">
                      </div>
                      <div class="container-fluid" style="font-size: large; text-align: left">
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Título:</strong> &nbsp;&nbsp;{{ solicitud.temporal.title }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Fecha de creación:</strong> &nbsp;&nbsp;{{ solicitud.temporal.date }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Autor:</strong> &nbsp;&nbsp;{{ solicitud.temporal.autor }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Editor:</strong> &nbsp;&nbsp;{{ solicitud.editor.user.first_name }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>ISMN (Generado):</strong> &nbsp;&nbsp;{{ solicitud.temporal.ismn }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Género Musical:</strong> &nbsp;&nbsp;{{ solicitud.temporal.gender }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Letra:</strong> &nbsp;&nbsp;<a href="{{ solicitud.temporal.publication_letra }}">{{ solicitud.temporal.publication_letra }}</a>
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Descripción:</strong> &nbsp;&nbsp;{{ solicitud.temporal.note }}
                            </div>
                          </div>
                          <hr>
                          <div class="row mb-1">
                            <div class="col-12">
                                <strong>Fecha de solicitud:</strong> &nbsp;&nbsp;{{ solicitud.created_at }}
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="button" style="border: transparent; background-color: transparent" data-bs-dismiss="modal" id="btn-accept">
                            <a href="{% url 'accept_ismn_application' solicitud.id %}" type="button"
                               class="btn btn-outline-dark"><i class="fas fa-file-export "></i>&nbsp;&nbsp;Aceptar</a>
                        </button>
                      </div>
                  {% else %}
                      <div class="row mb-1">
                        <div class="col-12">
                            <p class="display-2">Solicitud Atendida</p>
                        </div>
                      </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock for-data-table %}

{% block pagination %}
    <nav class="mt-4" aria-label="Page navigation example">
        {% if solicitudes.has_other_pages %}
            <ul class="pagination justify-content-left">
            {% if solicitudes.has_previous %}
                <a href="?page=1" class="btn btn-outline-primary mb-4" style="width: auto; border-radius: 1px; border: 1px solid #d3d3d3">Primera</a>
                <li class="page-item"><a class="page-link" href="?page={{ solicitudes.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}

            {% for i in solicitudes.paginator.page_range %}
                {% if solicitudes.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if solicitudes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ solicitudes.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
                <a href="?page={{ solicitudes.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width: auto; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Última</a>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}
            </ul>
        {% endif %}
    </nav>
{% endblock pagination %}

{% block exporting_options %}
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12 ms-auto" style="text-align: left">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="sol_editor" id="floatingInput" placeholder="Editor">
                      <label for="floatingInput">Nombre del editor</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="date" class="form-control" placeholder="" id="floatingTextarea2" name="fecha">
                        <label for="floatingTextarea2">Solicitudes enviadas después de:</label>
                        <p id="p_error" class="text-danger fw-light text-start" style="font-size: small; margin-left: 12px" hidden></p>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12" style="text-align: left;">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelect" name="tipo" aria-label="Floating label select example">
                          <option selected>Todos</option>
                          <option value="Solicitud-Inscripción">Solicitud-Inscripción</option>
                          <option value="Solicitud-ISMN">Solicitud-ISMN</option>
                      </select>
                      <label for="floatingSelect">Selecciona un tipo de solicitud</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12" style="text-align: left;">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelect" name="estado" aria-label="Floating label select example">
                          <option selected>Ambos</option>
                          <option value="Pendiente">Pendiente</option>
                          <option value="Atendido">Atendido</option>
                      </select>
                      <label for="floatingSelect">Selecciona el estado de las solicitudes</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4 mb-4">
                <div class="col-12 form-check form-switch" style="text-align: left; margin-left: 15px">
                  <input class="form-check-input" style="cursor: pointer;" type="checkbox" name="orden" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Orden LIFO</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <label for="customRange2" class="form-label">Cantidad de elementos?</label>
                  <input type="range" class="form-range" value="4" style="height: 5px" min="0" max="4" name="cant_element" id="customRange2">
                  <div class="d-flex">
                      <span>1</span>
                      <span style="margin-left: 23%">10</span>
                      <span style="margin-left: 22.3%">25</span>
                      <span style="margin-left: 22%">40</span>
                      <span style="margin-left: auto">Todos</span>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock exporting_options %}
