{% extends 'modals/BaseModal.html' %}

<!-- Modal ID -->
{% block modal-id %}id="mailconfirmation"{% endblock modal-id %}
<!-- Modal Title -->
{% block modal-title %}
    <i class="fas fa-code"></i> &nbsp;&nbsp; Código de confirmación
{% endblock modal-title %}

<!-- Modal Body -->
{% block modalBody %}
    <div class="modal-body text-center">
        <div class="input-group input-group-sm mb-2">
            <button class="side-label btn border-secondary bg-light">
                <i class="fas fa-envelope-square"></i>
            </button>
            <input type="text" class="form-control" name="code" id="code" required placeholder="Código de confirmación">
        </div>
    </div>
{% endblock modalBody %}

<!-- Form Action -->
{% block action %} action="#" {% endblock action %}