{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Añadir Editor {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-user-plus"></i>&nbsp;&nbsp; Añadir Editor
{% endblock navbar-content %}

<!-- Time -->
{% block time %}
    <div class="col-sm">
        <span style="color: #89cff0; align-content: center" id="clock"></span>
    </div>
{% endblock time %}

<!-- PAGE CONTENT -->
{% block content %}
    <div class="container">
        <div class="card card-body mt-5">
            <span class="text-center"> {% block card-title %}
                <span class="text-primary"> INSERTE LOS DATOS DEL EDITOR </span> {% endblock card-title %} </span>
        </div>

        <!-- Column #1 -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Form -->
                <form {% block Action %} action="/add_editor/" {% endblock Action %} method="POST"
                                                                                     enctype="multipart/form-data"
                                                                                     class="card p-3 mt-3 form-register">
                    {% csrf_token %}
                    <!-- Input ID denied here -->
                    {% block Id-hidden %} {% endblock Id-hidden %}

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="username" id="username" placeholder="Nombre de Usuario" required {% block Value-username %}{% endblock Value-username %}>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" name="password"
                                       placeholder="Nueva Contraseña"
                                        {% block Value-password %}{% endblock Value-password %}
                                       id="userPassword" required>
                                <i class="fa fa-eye-slash position-absolute" onclick="toggleFunction()" style="cursor: pointer; bottom: .5rem; right: 1rem;" id="toggleIcon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-phone"></i></span>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Número de teléfono" required {% block Value-phone %}{% endblock Value-phone %}>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" maxlength="40" name="email" id="email" placeholder="Correo electrónico" required {% block Value-email %}{% endblock Value-email %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group input-group-sm mb-3">
                                    <label class="input-group-text side-label-form justify-content-center"><i class="fa fa-building"></i></label>
                                    <select class="form-select form-control" name="editorType" id="editorType" required>
                                        {% block Editor-type %}
                                            <option value="" hidden>Tipo de Editor</option>
                                        {% endblock Editor-type %}
                                        <option disabled></option>
                                        <option value="Independiente" title="Seleccione esta opcion si usted es un Editor independiente">Independiente</option>
                                        <option value="Compañia" title="Seleccione esta opcion si usted representa a una compañia o Editorial">Compañia</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-calendar"></i></span>
                                <input type="text" class="form-control" maxlength="10" name="birthday" id="birthday"
                                       placeholder="Fecha de nacimiento" onfocus="(this.type='date')"
                                       onblur="(this.type='text')" title="Fecha de Nacimiento" disabled required
                                        {% block Value-birthday %}{% endblock Value-birthday %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-address-book"></i></span>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                       placeholder="Nombre" {% block Value-nombre %} {% endblock Value-nombre %}>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-address-book"></i></span>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                       placeholder="Apellido" disabled
                                        {% block Value-apellido %}{% endblock Value-apellido %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-map-marker-alt"></i></span>
                                <input type="text" class="form-control" name="address" id="address"
                                       placeholder="Dirección"
                                        {% block Value-direction %}{% endblock Value-direction %}>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-credit-card"></i></span>
                                <input type="text" class="form-control" name="idTribute" id="idTribute"
                                       placeholder="ID Tributaria" maxlength="15"
                                        {% block Value-tribute %}{% endblock Value-tribute %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group input-group-sm mb-3">
                                    <label class="input-group-text side-label-form justify-content-center"><i
                                            class="fa fa-hashtag"></i></label>
                                    <select class="form-select form-control" name="editorPrefijo" id="editorPrefijo"
                                            required {% block Value-disbled %}{% endblock Value-disbled %}>
                                        {% block Value-publications_per_year %}
                                            <option value="" hidden>Número estimado de publicaciones por año</option>
                                        {% endblock Value-publications_per_year %}
                                        <option disabled></option>
                                        <option value="p-menor"
                                                title="Seleccione esta opcion si usted publica menos de 100 publicaciones por año">
                                            0 - 99
                                        </option>
                                        <option value="p-inferior"
                                                title="Seleccione esta opcion si usted publica entre 100 y 999 publicaciones por año ">
                                            100 - 999
                                        </option>
                                        <option value="p-medio_inferior"
                                                title="Seleccione esta opcion si usted publica entre 1000 y 9999 publicaciones por año ">
                                            1000 - 9999
                                        </option>
                                        <option value="p-medio"
                                                title="Seleccione esta opcion si usted publica entre 10000 y 99999 publicaciones por año ">
                                            10000 - 99999
                                        </option>
                                        <option value="p-superior"
                                                title="Seleccione esta opcion si usted publica más de 100000 de publicaciones por año ">
                                            100000 - ...
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <textarea class="form-control text-sm" name="note" maxlength="1000" rows="4"
                                  placeholder="La descripción es opcional...">{% block Value-description %}{% endblock Value-description %}</textarea>
                    </div>

                    <hr style="height: 2px;">
                    <div class="mb-3">
                    {% block Value-imagen %}{% endblock Value-imagen %}
                        <div class="mb-3" style="font-size: 14px;"><i class="fa fa-cloud-upload-alt"></i>&nbsp;&nbsp;
                            {% block Title-Imagen-Sub %} Sube una foto a tu perfil {% endblock Title-Imagen-Sub %}</div>
                        <input type="file" class="form-control form-control-sm" name="imagenProfile" accept="image/*">
                        <div class="form-text" style="font-size: 12px;">* Extensiones permitidas: jpg - png - jpeg</div>
                    </div>

                    <div class="d-grid gap-2 mt-3">

                        <!-- Add Button -->
                        {% block Btn-content %}
                            <button type="submit" class="btn btn-primary btn-sm" id="btn-add">
                                <i class="fas fa-plus">&nbsp;&nbsp;</i>Añadir
                            </button>
                        {% endblock Btn-content %}

                        <!-- Reset button denied here -->
                        {% block Btn-reset %} {% endblock Btn-reset %}

                        <!-- Back Button -->
                        <a href="{% url 'backend_editores' %}" class="btn btn-dark btn-sm"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}

{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'backend_editores' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}