{% extends 'editores/add.html' %}

<!-- Title on tab browser -->
{% block title %} Editor {% endblock title %}

<!-- Input ID passed here -->
{% block Id-hidden %} <input type="text" name="id" value="{{ editor.id }}" hidden> {% endblock Id-hidden %}
<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-user-edit"></i>&nbsp;&nbsp; {{ editor.user.first_name }}
{% endblock navbar-content %}

<!-- Title in card -->
{% block card-title %} Registrado en:
    &nbsp;&nbsp;
    <span class="text-primary"> <strong> {{ editor.user.date_joined | date:'m/d/Y (H:i)' }} </strong></span> {% endblock card-title %}

<!-- Form Action -->
{% block Action %} action="/edit_editor/" {% endblock Action %}

<!--=========== Extends all <inputs> from add.html ===========-->
{% block Value-username %} value = "{{ editor.user.username }}" {% endblock Value-username %}
{% block Value-password %} value = ******** {% endblock Value-password %}
{% block Value-phone %} value = "{{ editor.phone }}" {% endblock Value-phone %}
{% block Value-email %} value = "{{ editor.user.email }}" {% endblock Value-email %}
{% block Editor-type %}
    <option id="seleccion_editor_type" style="background-color: #d3d3d3; color: #0a6ebd; font-weight: bold">
    {{ editor.type }}
{% endblock Editor-type %}
{% block Value-birthday %} value = "{{ editor.birthday | date:"Y-m-d" }}" {% endblock Value-birthday %}
{% block Value-nombre %} value = "{{ editor.user.first_name }}" {% endblock Value-nombre %}
{% block Value-apellido %} value = "{{ editor.user.last_name }}" {% endblock Value-apellido %}
{% block Value-direction %} value = "{{ editor.directions }}" {% endblock Value-direction %}
{% block Value-tribute %} value = "{{ editor.id_tribute }}" {% endblock Value-tribute %}
{% block Value-description %}{{ editor.note }}{% endblock Value-description %}
{% block Value-publications_per_year %}
    <option id="editor_prefijo" style="background-color: #d3d3d3; color: #0a6ebd; font-weight: bold">
    {{ editor.prefijo.rango }}
{% endblock Value-publications_per_year %}
{% block Value-disbled %} readonly {% endblock Value-disbled %}
{% block Title-Imagen-Sub %}
    Cambiar imagen del editor.
{% endblock Title-Imagen-Sub %}
{% block Value-imagen %}
    <div class="mb-3">Actualmente:
        <a href="/media/{{ editor.image_profile.name }}">{{ editor.image_profile.name }}</a>
    </div>
{% endblock Value-imagen %}

<!-- Extends ADD Button -->
{% block Btn-content %}
    <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save">&nbsp;&nbsp;</i> Guardar</button>
{% endblock Btn-content %}

<!-- Extends Reset Button -->
{% block Btn-reset %}
    <button type="reset" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp; Restablecer
    </button>
 {% endblock Btn-reset %}
