{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Editores {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <!--Title-->
    <i class="fas fa-users"></i>&nbsp;&nbsp;Editores
{% endblock navbar-content %}
<!-- Time -->
{% block time %}
    <time style="color: #89cff0;" id="clock"></time>
{% endblock time %}


{% block notifications %}
    <!--Notification Button-->
    <div class="notificaciones">
        <a class="text-light" id="btn-notif" href="#">
            <i class="fas fa-envelope"></i><span class="total">7</span>
        </a>
        {% if solicitudes_pendientes.count > 9 %}
            <a class="text-light" id="btn-notif" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#pendingModal">
                <i class="fas fa-bell fa-shake"></i><span class="plus_nine">9+</span>
            </a>
        {% elif solicitudes_pendientes.count == 0 %}
            <div class="text-light" id="btn-notif">
                <i class="fas fa-bell"></i>
            </div>
        {% else %}
            <a class="text-light" id="btn-notif" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#pendingModal">
                <i class="fas fa-bell fa-shake"></i><span class="pending" >{{ solicitudes_pendientes.count }}</span>
            </a>
        {% endif %}
    </div>
{% endblock notifications %}

<!-- CONTENT PAGE -->
{% block content %}
    {% if request.user.especialista %}
        <!-- Si inicia sesión el especialista -->
        <div class="container" style="min-width: 700px;">

            <br><br>

            <!--Sub-Header-->
            <div class="d-flex gap-2 align-items-center">
                <!-- 1) Column ADD Editor and Musical Publication -->
                {% block btn-add %}
                    <a href="{% url 'add_editor' %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp; Añadir Editor</a>
                    <a href="{% url 'export_editores_list' %}" class="btn btn-outline-primary btn-sm"
                       data-bs-toggle="modal" data-bs-target="#exporting_pModal">
                        <i class="fas fa-file-export "></i>&nbsp;&nbsp;Exportar Tabla</a>
                {% endblock %}

                <!-- 2) Column Get users -->
                <span class="d-inline-block float-end ms-auto">Bienvenid@
                    <strong><span class="text-primary">{{ user.get_username|capfirst }}</span></strong>
                    <img class="img-profile dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                         aria-expanded="false" src="{{ user.especialista.image_profile.url }}" alt="imagen perfil"
                    style="border-color: black">
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left dropdown-cuenta p-0"
                        aria-labelledby="dropdownMenuButton1">
                        <span class="dropdown-header text-center">Cuenta</span>
                        <hr class="dropdown-divider m-0">
                        <a class="dropdown-item py-2" href="{% url 'change_password' %}"><i class="fa fa-key mr-2"></i>&nbsp;&nbsp;Cambiar contraseña</a>
                        <hr class="dropdown-divider m-0">
                        <a class="dropdown-item btn btn-danger text-danger py-2" href="{% url 'logout' %}"
                           data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px">
                            <i class="fa fa-sign-out-alt mr-2"></i>&nbsp;&nbsp;Cerrar sesión</a>
                        <hr class="dropdown-divider m-0">
                        <a href="#" class="dropdown-item dropdown-footer text-center py-2">Ver perfil</a>
                    </div>
                </span>
            </div>

            <form>
                <div class="input-group input-group-sm mb-3 mt-4">
                    <input name="q" type="text" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
                    <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
                    <a href="{% url 'backend_editores' %}" class="btn btn-dark" style="margin-left: 2px"><i class="fas fa-sync-alt"></i></a>
                </div>
            </form>

            <div style="text-align: center; max-height: 320px; overflow: auto;">
                <table id="miTabla" class="table table-bordered table-sm mt-4" style="text-align: center;
                font-size: 14px; ">
                    <thead class="table-secondary">
                        <tr>
                            {% block title-table %}
                                <th style="width: 4%;">ID</th>
                                <th style="width: 10%">Tipo</th>
                                <th style="width: 12%">Nombre</th>
                                <th style="width: 15%">N&deg; de ID Tributaria</th>
                                <th style="width: 7%">Prefijo</th>
                                <th style="width: 8%">Estado</th>
                                <th style="width: 27%">Dirección</th>
                                <th style="width: 10%">Teléfono</th>
                                <th  colspan="2">Acciones</th>
                            {% endblock title-table %}
                        </tr>
                    </thead>
                    <!-- DATA FROM BACKEND -->
                    {% block for-data-table %}
                        {% for editor in editores %}
                            <tr id="chk_td">
                                <td>{{ editor.id }}</td>
                                {% if editor.type  == 'Independiente' %}
                                    <td>Independiente</td>
                                {% else %}
                                    <td>Empresa</td>
                                {% endif %}
                                <td>{{ editor.user }}</td>
                                <td>{{ editor.id_tribute }}</td>
                                {% if editor.prefijo.value < 10 %}
                                    <td>0{{ editor.prefijo }}</td>
                                {% else %}
                                    <td>{{ editor.prefijo }}</td>
                                {% endif %}
                                {% if editor.user.is_active %}
                                    <td>Activo</td>
                                {% else %}
                                    <td>Inactivo</td>
                                {% endif %}
                                <td>{{ editor.directions }}</td>
                                <td>{{ editor.phone }}</td>
                                <td>
                                    <a href="{% url 'editor' editor.id %}"
                                       class="btn btn-sm btn-primary " title="Edit Editor">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-secondary" title="Delete Editor" data-bs-toggle="modal" data-bs-target="#deleteModal{{ editor.pk }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                            <!-- Delete confirmation -->
                            <div class="modal fade" id="deleteModal{{ editor.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Eliminar Editor</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body text-center">
                                    <div class="text-center text-danger"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i></div>
                                      <div class="text-center text-danger">
                                          <span>ESTÁS SEGURO QUE DESEAS ELIMINAR AL EDITOR ???</span>
                                          <div class="text-dark mt-3 mb-2 ">
                                              <strong> {{ editor.user.get_full_name }} </strong></div>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                                    <a href="/delete_editor/{{ editor.id }}" type="button" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                  </div>
                                </div>
                              </div>
                            </div>


                        {% endfor %}
                    {% endblock for-data-table %}
                </table>

                <!-- Modal to Pending Application -->
                <div class="modal fade modal-lg" id="pendingModal" tabindex="-1" aria-labelledby="pendingModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="pendingModalLabel"><i class="fas fa-bell text-danger"></i>&nbsp;&nbsp; Pendientes</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Editor</th>
                              <th scope="col">Fecha</th>
                              <th scope="col">Tipo</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for solicitud in solicitudes_pendientes %}
                                {% if solicitud.tipo == 'Solicitud-Inscripción' %}
                                    <tr class="table-danger">
                                      <th scope="row">{{ solicitud.id }}</th>
                                      <td>{{ solicitud.editor|default:"-" }}</td>
                                      <td>{{ solicitud.created_at}}</td>
                                      <td>{{ solicitud.tipo }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="table-primary">
                                      <th scope="row">{{ solicitud.id }}</th>
                                      <td>{{ solicitud.editor|default:"-" }}</td>
                                      <td>{{ solicitud.created_at}}</td>
                                      <td>{{ solicitud.tipo }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                        <hr>

                        <div class="d-flex align-items-center justify-content-between">
                            <p class="w-50 my-0">TOTAL = {{ solicitudes_pendientes.count }}</p>
                            <a class="dropdown-item w-50"
                               href="{% url 'backend_solicitudes' 'list_dsc' %}">
                                <i class="fa fa-eye"></i>&nbsp;&nbsp;Ver Todo</a>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>
                <!-- Exporting Options-->
                <div class="modal fade" id="exporting_pModal" tabindex="-1" aria-labelledby="exporting_pModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="infoModalLabel"><i class="fas fa-cog"></i>&nbsp;&nbsp;Opciones de exportación.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                              <div class="row text-left">
                                  <h4 class="">Tipo de Editor</h4>
                                  <div class="col-4">
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            Empresa
                                          </label>
                                      </div>
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                          <label class="form-check-label" for="flexRadioDefault2">
                                            Independiente
                                          </label>
                                      </div>
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                          <label class="form-check-label" for="flexRadioDefault2">
                                            Ambos
                                          </label>
                                      </div>
                                  </div>
                                  <div class="col-4 ms-auto">
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            Empresa
                                          </label>
                                      </div>
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                          <label class="form-check-label" for="flexRadioDefault2">
                                            Independiente
                                          </label>
                                      </div>
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                          <label class="form-check-label" for="flexRadioDefault2">
                                            Ambos
                                          </label>
                                      </div>
                                  </div>
                                  <div class="col-4 ms-auto"></div>
                              </div>

                              <div class="row">

                                  <div class="col-md-12">
                                      <label for="customRange2" class="form-label">Cantidad de elementos?</label>
                                      <input type="range" class="form-range" style="height: 5px" min="0" max="4" id="customRange2">
                                      <div class="d-flex">
                                          <span>1</span>
                                          <span style="margin-left: 22%">10</span>
                                          <span style="margin-left: 20.5%">25</span>
                                          <span style="margin-left: 20%">40</span>
                                          <span style="margin-left: auto">Todos</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"><i class="fas fa-file-export "></i>&nbsp;&nbsp;Exportar</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        <!-- PAGINATION -->
        {% block pagination %}
            <nav class="mt-4" aria-label="Page navigation example">
                {% if editores.has_other_pages %}
                    <ul class="pagination justify-content-left">
                    {% if editores.has_previous %}
                        <a href="?page=1" class="btn btn-outline-primary mb-4" style="width: auto; border-radius: 1px; border: 1px solid #d3d3d3">Primera</a>
                        <li class="page-item"><a class="page-link" href="?page={{ editores.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                    {% else %}
                        <li class="page-item disabled"></li>
                    {% endif %}

                    {% for i in editores.paginator.page_range %}
                        {% if editores.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if editores.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ editores.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
                        <a href="?page={{ editores.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width: auto; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Última</a>
                    {% else %}
                        <li class="page-item disabled"></li>
                    {% endif %}
                    </ul>
                {% endif %}
            </nav>
        {% endblock pagination %}
            <!-- Messages from backend -->
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script>
                        var n = "{{ message }}"
                        swal("Perfecto!", n, "success")
                    </script>
                {% endif %}
            {% endfor %}

            <!-- If there is no editors, show the message -->
            <span class="text-danger" id="no-data"></span>
        </div> <!-- END // container -->
    {% else %}
        <span class="text-danger">Access Deneid!</span>
    {% endif %}
{% endblock content %}

{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'backend_solicitudes' 'list_dsc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Solicitudes</a>
    <a class="btn btn-dark" href="{% url 'backend_publicaciones' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Publicaciones
        Musicales</a>
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Inicio</a>
    <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}



