/* -------------------------------
# START CONFIGURATION
 -------------------------------*/

html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

.readonly {
    background: lightgrey;
}

/* -------------------------------
# NAVBAR
 -------------------------------*/

.navbar2 {
    height: 7vh;
    min-height: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.title {
    margin-left: 20px;
    font-size: 20px;
    width: 75%;
    min-width: 250px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    position: absolute;
    left: 50%
}


.notificaciones {
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-right: 40px;
    width: 22%;
}

.nav-button {
    font-size: 25px;
    width: 3%;
    margin-right: 15px;
    min-width: 40px;
}


/* -------------------------------
# FOOTER
 -------------------------------*/

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
    font-size: 13px;
}

/* -------------------------------
# FRONTEND
 -------------------------------*/

.block-position {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* -------------------------------
# SPINNER FRONTEND (ANIMATION)
 -------------------------------*/
#preloader {
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #000000;
    position: absolute;
    top: 50%;
    left: calc(50% - 32px);
    width: 55px;
    height: 55px;
    z-index: 2;
    animation: preloader 1.2s forwards;
}

@keyframes preloader {
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes preloader_forever {
    to {
        transform: rotate(360deg);
    }
}


/* -------------------------------
# EDITORS (add.html)
 -------------------------------*/
.side-label-form {
    width: 45px;
}

/* --------------------------------------
# BACKEND | EDITORS LIST (editores-list.html)
 ---------------------------------------*/
th.th_button {
    cursor: pointer;
    padding: 0 !important;
    background-color: transparent !important;
}

.btn-header-list {
    width: 100%;
    text-align: center;
    padding: 8px;
}

#no-data, #no-access {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.form-register {
    height: 65vh;
    overflow-y: auto;
}

#loginForm {
    max-width: 500px;
}

/* Label with icon or text (left side of inputs) */
.side-label{
    width: 45px;
}
.side-label-form  {
    width: 45px;
}
/* Button inside the modals popup */
.btn-cancel, .btn-send {
    width: 65px;
}

/* -------------------------------
# CUSTOM SWEETALERT
 -------------------------------*/
/* All texts centered */
.swal-text {
    text-align: center;
}
/* Icon settings */
.swal-icon--success::before,
.swal-icon--success::after,
.swal-icon--success__hide-corners {
    background: none !important;
}
.swal-icon--success {
/*    Color of ring */
    border-color: blue;
}
.swal-icon--success__line {
/*    Animation */
    background-color: blue;
}
/* Button settings */
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #222;
    font-size: 12px;
    border: 1px solid #222;
}
.swal-button:focus {
/*    Remove the silver border around the native button */
    box-shadow: none;
}
.swal-button:not([disabled]):hover {
/*    Hover effect */
    background: transparent;
    color: #111;
    border: 1px solid #111;
}

/* -------------------------------
# NOTIFICATION BUTTON
 -------------------------------*/

#btn-notif {
    float: left;
    font-size: 20px;
}

.total, .pending {
    position: absolute;
    border-radius: 50%;
    font-size: 13px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: -5px;
    font-weight: bold;
}

.total {
    background-color: #0dcaf0;
}

.pending {
    background-color: red;
}

.plus_nine {
    position: absolute;
    border-radius: 42%;
    font-size: 13px;
    font-weight: bold;
    width: 26px;
    height: 20px;
    text-align: center;
    margin-left: -7px;
    background: red;
}

/* -------------------------------
# RESPONSIVE MODEL
 -------------------------------*/
/* Resolution for Tablets */
@media screen and (max-width: 1024px) {
    #footer {
        font-size: 15px;
    }
    #loginForm {
        max-width: 400px;
    }
}

/* Resolution for Smartphones */
@media (max-width: 575px) {
    #footer {
        font-size: 12px;
    }
    body {
        overflow-y: visible;
    }
    #navbar-content {
        font-size: 16px;
        margin-left: 25px;
    }
    #loginForm {
        max-width: 300px;
    }

    .notificaciones {
        margin-right: 25px;
        gap: 20px;
    }
}

/* -------------------------------
# IMAGEN PROFILE
 -------------------------------*/
.img-profile {
    border-radius: 50%; /* Para hacer la imagen redonda */
    width: 50px; /* Tamaño deseado */
    height: 50px; /* Tamaño deseado */
    cursor: pointer; /* Cambiar el cursor al pasar sobre la imagen */
    margin-left: 10px;
}

.img-profile:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.dropdown-cuenta {
    width: 250px;
    box-shadow: 0 0 13px rgba(0, 0, 0, .2);
}

.dropdown-cuenta:last-child {
    font-size: smaller;
}