/* -------------------------------
# START CONFIGURATION
 -------------------------------*/

html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/* -------------------------------
# NAVBAR
 -------------------------------*/

.navbar2 {
    background: black;
    height: 7vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.title {
    margin-left: 20px;
    font-size: 20px;
    width: 35%;
}

.time {
    display: flex;
    justify-content: center;
    width: 40%;
}


.notificaciones {
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-right: 40px;
    width: 20%;
}

.nav-button {
    font-size: 25px;
    width: 3%;
    margin-right: 15px;
}


/* -------------------------------
# FOOTER
 -------------------------------*/

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
    font-size: 13px;
}

/* -------------------------------
# FRONTEND
 -------------------------------*/

.block-position {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* -------------------------------
# SPINNER FRONTEND (ANIMATION)
 -------------------------------*/
#preloader {
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #000000;
    position: absolute;
    top: 50%;
    left: calc(50% - 32px);
    width: 55px;
    height: 55px;
    z-index: 100;
    animation: preloader 1.2s forwards;
}

@keyframes preloader {
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}


/* -------------------------------
# EDITORS (add.html)
 -------------------------------*/
.side-label-form {
    width: 45px;
}

/*i {*/
/*    margin-left: .3rem;*/
/*}*/

/* --------------------------------------
# BACKEND | EDITORS LIST (backend.html)
 ---------------------------------------*/
#no-data, #no-access {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.musicales {
    display: flex;
    flex-wrap: wrap;
}

.musical {
    width: 20%;
    margin-top: 20px;
}

.musical img {
    width: 100%;
    height: 200px;
}

.musical .contenedor_musical {
    background-color: white;
    width: 80%;
    margin: auto;
}

#loginForm {
        max-width: 500px;
    }

.img_detail {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 5%;
}

/* Label with icon or text (left side of inputs) */
.side-label{
    width: 45px;
}
.side-label-form  {
    width: 45px;
}
/* Button inside the modals popup */
.btn-cancel, .btn-send {
    width: 65px;
}

/* -------------------------------
# BACKEND SPINNER (AJAX)
 -------------------------------*/
#bg-spinner {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background: rgba(1, 1, 1, 0.7);
}
#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px #d3d3d3 solid;
    border-top: 6px #2e65c9 solid;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}


/* -------------------------------
# CUSTOM SWEETALERT
 -------------------------------*/
/* All texts centered */
.swal-text {
    text-align: center;
}
/* Icon settings */
.swal-icon--success::before,
.swal-icon--success::after,
.swal-icon--success__hide-corners {
    background: none !important;
}
.swal-icon--success {
/*    Color of ring */
    border-color: blue;
}
.swal-icon--success__line {
/*    Animation */
    background-color: blue;
}
/* Button settings */
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #222;
    font-size: 12px;
    border: 1px solid #222;
}
.swal-button:focus {
/*    Remove the silver border around the native button */
    box-shadow: none;
}
.swal-button:not([disabled]):hover {
/*    Hover effect */
    background: transparent;
    color: #111;
    border: 1px solid #111;
}

/* -------------------------------
# NOTIFICATION BUTTON
 -------------------------------*/

#btn-notif {
    float: left;
    font-size: 20px;
}

.total, .pending {
    position: absolute;
    border-radius: 50%;
    font-size: 13px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: -5px;
}

.total {
    background-color: #0dcaf0;
}

.pending {
    background-color: red;
}

/* -------------------------------
# RESPONSIVE MODEL
 -------------------------------*/
/* Resolution for Tablets */
@media screen and (max-width: 1024px) {
    #footer {
        font-size: 15px;
    }
    #loginForm {
        max-width: 400px;
    }
}

/* Resolution for Smartphones */
@media (max-width: 575px) {
    #footer {
        font-size: 12px;
    }
    body {
        overflow-y: visible;
    }
    #navbar-content {
        font-size: 16px;
        margin-left: 25px;
    }
    #loginForm {
        max-width: 300px;
    }

    .notificaciones {
        margin-right: 25px;
        gap: 20px;
    }
}

