{% extends 'base.html' %}
{% load static %}

<!-- Title on tab browser -->
{% block title %} Añadir Publicacion {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Añadir Publicación Musical
{% endblock navbar-content %}

<!-- Time -->
{% block time %}
    <div class="col-sm">
        <span style="color: #89cff0; align-content: center" id="clock"></span>
    </div>
{% endblock time %}

<!-- Button on navbar -->
{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'backend_publicaciones' 'list_dsc' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
     <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}

<!-- PAGE CONTENT -->
{% block content %}
    <!-- MultiSelect -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <!-- Modal Autores-->
    <div class="modal fade" id="autoresModal" tabindex="-1" aria-labelledby="autoresModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="autoresModalLabel"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Agregar Colaborador</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form id="autorForm" method="post" action="{% url 'crear_autor' %}">
                {% csrf_token %}
                <div class="row mb-2">
                  <div class="col-12 ms-auto" style="text-align: left">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="nombre" id="nombreAutor" placeholder="-">
                      <label for="nombreAutor">Nombre del autor</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-12 ms-auto" style="text-align: left">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="apellido" id="apellidoAutor" placeholder="-">
                      <label for="apellidoAutor">Apellido del autor</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-12 ms-auto" style="text-align: left;">
                    <div class="form-floating">
                      <select class="form-select" id="nacionalidadSelect" name="nacionalidad" aria-label="Floating label select example">
                        <option value="" selected>Nacionalidad</option>
                        <option value="CUB">Cuba</option>
                        <option value="ITA">Italia</option>
                        <option value="EUA">Estados Unidos</option>
                      </select>
                      <label for="nacionalidadSelect">Selecciona la nacionalidad del autor</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-12 ms-auto" style="text-align: left;">
                    <div class="form-floating">
                      <select class="form-select" id="rolSelect" name="rol" aria-label="Floating label select example">
                        <option value="" selected>Rol</option>
                        <option value="AUT">Autor</option>
                        <option value="ADP">Adaptador</option>
                        <option value="EDM">Editor Musical</option>
                        <option value="ARR">Arreglista</option>
                      </select>
                      <label for="rolSelect">Selecciona el rol del colaborador</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="agregarAutorBtn">Agregar</button>
          </div>
        </div>
      </div>
    </div>

    <style>
        .select2-container {
            flex-grow: 1;
        }

        .select2-selection {
            height: auto !important;
        }

        .select2-search__field {
            min-width: 400px;
        }

        .select2-selection__rendered {
            display: flex;
            align-items: center;
        }
        .select2-container--default .select2-selection--multiple,
        .select2-container--default .select2-selection--single {
            padding-left: 5px; /* Ajusta el valor según tus necesidades */
        }
    </style>

    <div class="container w-75">
        <div class="card card-body border-dark mt-5">
            <span class="text-center"> {% block card-title %}
                <span class="text-primary"> INSERTE LOS DATOS DE LA PUBLICACIÓN </span> {% endblock card-title %} </span>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <!-- Form -->
                <form id="form_add_publication" {% block Action %}  action="/add_musical_publicaton/" {% endblock Action %} novalidate method="POST"
                                         enctype="multipart/form-data" class="card p-3 border-dark mt-3 form-register">
                    {% csrf_token %}

                    <!-- Input ID denied here -->
                    {% block Id-hidden %} {% endblock Id-hidden %}
                    <!-- Informacion del Titulo -->
                    <div class="alert alert-info d-flex justify-content-center" role="alert">
                        <span class="mb-1 text-center mb-0 fw-bold"><i class="fa fa-info-circle fs-4 text-info"></i>&nbsp;&nbsp;Información del título</span>
                    </div>
                    <!-- Input Titulo y Subtitulo de la Publicacion -->
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-t"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="title" id="title"
                                       placeholder="Título de la publicación musical" required
                                        {% block Value-title %}{% endblock Value-title %}>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-s"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="subtitle" id="subtitle"
                                       placeholder="Subtitulo de la publicación musical" required
                                        {% block Value-subtitle %}{% endblock Value-subtitle %}>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Clasificacion Tematica-->
                    <div class="alert alert-info mb-2" role="alert">
                        <span class="mb-1 d-flex justify-content-center mb-0 fw-bold"><i class="fa fa-info-circle fs-4 text-info"></i>&nbsp;&nbsp;Clasificación Temática</span>
                        <p class="mb-0" style="font-size: .9rem">Clasificación de Materias y Géneros Musicales de la publicación de acuerdo al Sistema de Clasificación Decimal Dewey.</p>
                    </div>
                    <!-- Inputs Materia y Genero -->
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text side-label-form justify-content-center"><i
                                            class="fa fa-book-reader"></i></label>
                                    <select class="form-select form-control" name="materia" id="materia"
                                            required>
                                        {% block Value-materia %}
                                            <option value="" hidden>Materia</option>
                                        {% endblock Value-materia %}
                                        <option disabled></option>
                                        {% for materia in materias %}
                                            <option title="{{ materia.descripcion }}" value="{{ materia.id }}">
                                                {{ materia }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text side-label-form justify-content-center"><i
                                            class="fa fa-music"></i></label>
                                    <select class="form-select form-control" name="genero" id="genero"
                                            required>
                                        {% block Value-genero %}
                                            <option value="" hidden>Género musical</option>
                                        {% endblock Value-genero %}
                                        <option disabled></option>
                                        {% for genero in generos %}
                                            <option title="{{ genero.descripcion }}" value="{{ genero.id }}">
                                                {{ genero }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Title Tema -->
                    <div class="alert alert-info mb-2" role="alert">
                        <span class="mb-1 d-flex justify-content-center mb-0 fw-bold"><i class="fa fa-info-circle fs-4 text-info"></i>&nbsp;&nbsp;Tema</span>
                    </div>
                    <!-- Input Coleccion y Numero de Coleccion -->
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-book"></i></span>
                                <input type="text" class="form-control" name="tema_coleccion" id="tema_coleccion" maxlength="50"
                                       placeholder="Colección" {% block Value-Tema-Coleccion %}{% endblock Value-Tema-Coleccion %}>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm position-relative mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-hashtag"></i></span>
                                <input type="text" class="form-control" name="tema_numero_coleccion" id="tema_numero_coleccion"
                                       placeholder="No. Colección" maxlength="5" required
                                        {% block Value-Tema-NoColeccion %}{% endblock Value-Tema-NoColeccion %}>
                            </div>
                        </div>
                    </div>
                    <!-- Input Tipo de publicacion e Idioma-->
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text side-label-form justify-content-center"><i
                                            class="fa fa-t"></i></label>
                                    <select class="form-select form-control" name="tema_tipo_publicacion" id="tema_tipo_publicacion"
                                            required>
                                        {% block Value-Tema_tipo_publicacion %}
                                            <option value="" hidden>Tipo de publicación</option>
                                        {% endblock Value-Tema_tipo_publicacion %}
                                        <option disabled></option>
                                        {% for value, type in tipos_publicacion %}
                                            <option value="{{ value }}">
                                                {{ type }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text side-label-form justify-content-center"><i
                                            class="fa fa-language"></i></label>
                                    <select class="form-select form-control" name="tema_idioma" id="tema_idioma"
                                            required>
                                        {% block Value-Tema-Idioma %}
                                            <option value="" hidden>Idioma</option>
                                        {% endblock Value-Tema-Idioma %}
                                        <option disabled></option>
                                        {% for value, idioma in idiomas %}
                                            <option value="{{ value }}">
                                                {{ idioma }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Title Colaboradores-->
                        <div class="alert alert-info mb-2" role="alert">
                            <span class="mb-1 d-flex justify-content-center mb-0 fw-bold"><i class="fa fa-info-circle fs-4 text-info"></i>&nbsp;&nbsp;Colaboradores</span>
                            <p class="mb-0" style="font-size: .9rem">Incluya aquí personas naturales o grupos de personas que han participado en la formación de la obra musical que se está registrando.</p>
                        </div>
                    {% block Colaboladores %}
                        <!-- Inputs Autores y Editor-->
                        <div class="row">
                            <div class="col-6" id="autores_colaboradores">
                                {% block Value-Autores %}
                                    <div class="input-group d-flex align-items-center input-group-sm mb-3">
                                        <label class="input-group-text side-label-form text-center"><i style="margin-left: 7px;" class="fa fa-user"></i>&nbsp;&nbsp;</label>
                                        <select class="form-select form-control js-select2" name="colaborador" id="colaborador" required multiple="multiple">
                                                <option disabled></option>
                                                {% for autor in autores %}
                                                    <option value="{{ autor.id }}">
                                                        {{ autor }} {{ autor.apellido }}
                                                    </option>
                                                {% endfor %}
                                        </select>
                                        <button type="button" class="ml-1 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#autoresModal" title="Agregar un nuevo colaborador"><i class="fa fa-plus"></i></button>
                                    </div>
                                {% endblock Value-Autores %}
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-sm mb-3" style="margin-top: 3px">
                                    <span class="input-group-text side-label-form justify-content-center"><i
                                            class="fas fa fa-user-edit"></i></span>
                                    <datalist id="editor">
                                        {% for editor in editores %}
                                            <option value="{{ editor }}"></option>
                                        {% endfor %}
                                    </datalist>
                                    <input type="text" list="editor" class="form-control editor" maxlength="40"
                                           name="editor"
                                           placeholder="Editor de la publicación" required
                                            {% block Value-editor %}{% endblock Value-editor %}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text side-label-form justify-content-center"><i
                                            class="fas fa fa-hashtag"></i></span>
                                    <input type="text" class="form-control readonly" name="prefijo-editor"
                                           id="prefijo-editor"
                                           title="Número de prefijo del editor" placeholder="Prefijo del Editor" readonly
                                            {% block Value-prefijo-editor %}{% endblock Value-prefijo-editor %}>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text side-label-form justify-content-center">
                                        <i class="fas fa fa-hashtag"></i>
                                    </span>
                                    <input type="text" class="form-control readonly"
                                           name="prefijo-publicacion"
                                           id="prefijo-publicacion" placeholder="Prefijo de la publicación"
                                           title="Número de prefijo de la publicación" readonly
                                            {% block Value-prefijo-publicacion %}{% endblock Value-prefijo-publicacion %}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text side-label-form justify-content-center">
                                        <i class="fas fa fa-barcode"></i>
                                    </span>
                                    <input type="text" class="form-control readonly" name="ismn"
                                           id="ismn" placeholder="ISMN"
                                           title="ISMN de la publicación" readonly
                                            {% block Value-ISMN %}{% endblock Value-ISMN %}>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endblock Colaboladores %}

                    <!-- Title Descripción Sustrato-->
                    <div class="alert alert-info mb-2" role="alert">
                        <span class="mb-1 d-flex justify-content-center mb-0 fw-bold"><i class="fa fa-info-circle fs-4 text-info"></i>&nbsp;&nbsp;Sustrato (Opcional)</span>
                        <p class="mb-0" style="font-size: .9rem"><b>Para publicaciones electrónicas:</b> También llamada “Edición Digital”. Publicación cuyo mecanismo primario de distribución y su “soporte primario de lectura” está basado en la tecnología digital.</p>
                    </div>
                    <!--Botones de Activación-->
                    <div class="row mb-3">
                        <div class="col-6 d-flex justify-content-center">
                          <button class="btn btn-sm btn-primary {% block collapse %}{% endblock collapse %}" type="button" data-bs-toggle="collapse" data-bs-target="#fisica" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-f"></i>&nbsp;&nbsp;Descripción Física
                          </button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                          <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#electronica" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-e"></i>&nbsp;&nbsp;Descrición Electrónica
                          </button>
                        </div>
                    </div>
                    <!-- Ambas Descripciones Fisica y Electronica-->
                    <div class="row">
                        <!-- Descripcion Fisica-->
                        <div class="col-6">
                          <div class="collapse show" id="fisica">
                          <!-- Inputs Tipo de Descripcion Numero de Paginas-->
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group input-group-sm mb-3">
                                        <label class="input-group-text side-label-form justify-content-center"><i
                                                class="fa fa-d"></i></label>
                                        <select class="form-select form-control" name="nombre_descripcion" id="nombre_descripcion"
                                                required>
                                            {% block Value-Nombre-Descripcion %}
                                                <option value="" hidden>Descripcion física</option>
                                            {% endblock Value-Nombre-Descripcion %}
                                            <option disabled></option>
                                            {% for key, descripcion in descripciones %}
                                                <option value="{{ key }}">
                                                    {{ descripcion }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                              </div>
                                <div class="col-6">
                                  <div class="input-group input-group-sm position-relative mb-3">
                                      <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-hashtag"></i></span>
                                      <input type="text" class="form-control" name="num_paginas" id="num_paginas"
                                               placeholder="Número de Páginas" maxlength="5" required
                                                {% block Value-num_paginas %}{% endblock Value-num_paginas %}>
                                  </div>
                                </div>
                            </div>
                          <!-- Inputs Tipo de Impresion y Tipo de Encuadernacion-->
                            <div class="row">
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group input-group-sm mb-3">
                                        <label class="input-group-text side-label-form justify-content-center"><i
                                                class="fa fa-print"></i></label>
                                        <select class="form-select form-control" name="tipo_impresion" id="tipo_impresion"
                                                required>
                                            {% block Value-Tipo-Impresion %}
                                                <option value="" hidden>Tipo de Impresión</option>
                                            {% endblock Value-Tipo-Impresion %}
                                            <option disabled></option>
                                            {% for key, impresion in impresiones %}
                                                <option value="{{ key }}">
                                                    {{ impresion }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                                </div>
                                <div class="col-6">
                                  <div class="input-group">
                                    <div class="input-group input-group-sm mb-3">
                                        <label class="input-group-text side-label-form justify-content-center"><i
                                                class="fa fa-book"></i></label>
                                        <select class="form-select form-control" name="tipo_encuadernacion" id="tipo_encuadernacion"
                                                required>
                                            {% block Value-Tipo-Encuadernacion %}
                                                <option value="" hidden>Tipo de Encuadernación</option>
                                            {% endblock Value-Tipo-Encuadernacion %}
                                            <option disabled></option>
                                            {% for key, encuadernacion in encuadernaciones %}
                                                <option value="{{ key }}">
                                                    {{ encuadernacion }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                                </div>
                            </div>
                          <!-- Inputs Descripcion-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control text-sm" name="descripcion_fisica_note" maxlength="1000" rows="2"
                                                  placeholder="Descripción adicional (opcional)...">{% block Value-description %}{% endblock Value-description %}</textarea>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <!-- Descripcion Electronica-->
                        <div class="col-6" style="min-height: 171px">
                          <div class="collapse show" id="electronica">
                              <div class="row mb-2">
                                  <div class="col-12">
                                      <div class="input-group">
                                          <div class="input-group input-group-sm mb-3">
                                              <label class="input-group-text side-label-form"><i
                                                        class="fa fa-compact-disc"></i></label>
                                              <select class="form-select form-control" name="medio_electronico" id="medio_electronico"
                                                        required>
                                                    {% block Value-Medio-Electronico %}
                                                        <option value="" hidden>Medio electrónico o digital</option>
                                                    {% endblock Value-Medio-Electronico %}
                                                    <option disabled></option>
                                                    {% for key, medio in medios %}
                                                        <option value="{{ key }}">
                                                            {{ medio }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-12 ml-3">
                                    {% block Value-letter %}{% endblock Value-letter %}
                                    <div class="mb-1" style="font-size: 14px; margin-left: 7px"><i class="fa fa-cloud-upload-alt"></i>&nbsp;&nbsp;
                                        {% block Title-Letter-Sub %}
                                            Subir letra de la canción
                                        {% endblock Title-Letter-Sub %}
                                    </div>
                                    <input type="file" class="form-control form-control-sm" name="publication_letter"
                                           accept="application/pdf,application/msword,.doc,.docx,.pdf,.txt">
                                    <div class="form-text" style="font-size: 12px;">* Extensiones permitidas: .docx - .pdf -
                                        .txt
                                    </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Información catálogo -->
                    <div class="alert alert-info mb-2" role="alert">
                        <span class="mb-1 d-flex justify-content-center mb-0 fw-bold"><i class="fa fa-info-circle fs-4 text-info"></i>&nbsp;&nbsp;Información de catálogo</span>
                        <p class="mb-0" style="font-size: .9rem">Si usted desea que este título sea incorporado en nuestro catálogo, por favor ingrese la información correspondiente a la portada, reseña y fecha de realización.</p>
                    </div>
                    <!-- Fecha Portada y Descripción-->
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text side-label-form justify-content-center"><i
                                                class="fas fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" maxlength="40" name="date" id="date"
                                               placeholder="Fecha de creación" required title="Fecha de creación"
                                               onfocus="this(type='date')" onblur="this(type='text')"
                                                {% block Value-date %}{% endblock Value-date %}>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="mb-3">
                                        {% block Value-imagen %}{% endblock Value-imagen %}
                                        <div class="mb-3" style="font-size: 14px; margin-left: 7px"><i class="fa fa-cloud-upload-alt"></i>&nbsp;&nbsp;
                                            {% block Title-Imagen-Sub %} Subir imagen de portada {% endblock Title-Imagen-Sub %}
                                        </div>
                                        <input type="file" class="form-control form-control-sm" name="publication_image"
                                               accept="image/*">
                                        <div class="form-text" style="font-size: 12px;">* Extensiones permitidas: jpg - png -
                                            jpeg - *
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-3">
                            <div class="form-group mb-3">
                                <textarea class="form-control text-sm" name="note" maxlength="1000" rows="5"
                                          placeholder="Escriba una breve reseña de la publicación musical...(Opcional)">{% block Value-descripcion-general %}{% endblock Value-descripcion-general %}</textarea>
                            </div>
                        </div>
                    </div>



                    <div class="d-flex flex-column gap-2 mt-3">
                        <!-- Add Button -->
                        <button type="submit" class="btn btn-primary btn-sm" id="btn-add">
                            {% block Btn-content %} <i class="fas fa-plus">&nbsp;&nbsp;</i>
                                Agregar {% endblock Btn-content %}
                        </button>

                        <!-- Reset button denied here -->
                        {% block Btn-reset %} {% endblock Btn-reset %}

                        <!-- Back Button -->
                        <a href="{% url 'backend_publicaciones' 'list_dsc' %}" class="btn btn-dark btn-sm"><i
                                class="fas fa-chevron-left"></i>&nbsp;&nbsp;Atrás</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        /* Notas
        1- La cantidad de digitos que debe tener un ismn en total para Cuba son 13
        2- La cantidad de digitos que deben sumar los prefijos de publicacion y editor son 8
        3- El digito de control se calcula mediante este metodo http://www.grupoalquerque.es/mate_cerca/paneles_2012/168_ISBN2.pdf
        */

        // Variables
        // Selectores de los inputs en el formulario
        const editor_input = document.querySelector('.editor');
        const editor_prefijo_input = document.getElementById('prefijo-editor');
        const publicacion_prefijo_input = document.getElementById('prefijo-publicacion');
        const ismn = document.getElementById('ismn');
        // Cantidad de Publicaciones del editor antes de insertar la nueva publicacion
        let cant_public_editor;
        // Cantidad de digitos que ocupa el prefijo del editor en el ismn
        let cant_digitos_prefijo_editor;
        // Prefijo del editor
        let prefijo_editor;
        // Prefijo con el formato correcto que generamos para la nueva publicacion que se esta insertando: 001,012,0002, etc
        let prefijo_publicacion;
        // Valor numerico de la publicacion: 1,2,3,4,etc
        let valor_prefijo_public;


        // Funcion que formatea el prefijo_publicacion para que tenga el formato de ismn: 001,012,0002, etc
        function formatear_prefijo(valor, cant_digitos_prefijo_companiero) {
            // Cantidad de digitos que debe tener la publicacion segun las reglas ISMN
            let cant_digitos = 8 - cant_digitos_prefijo_companiero;
            // Cantidad de ceros que debe agregar al prefijo de la publicacion
            let zeros = cant_digitos - valor.length;
            // Retorna el valor de la publicacion listo para insertar en el ISMN
            return '0'.repeat(zeros) + valor
        }

        function digito_control(editor_prefijo, publicacion_prefijo) {
            let sum = 39; // Esta es la suma de lote '979-0' aplicando el metodo de 9*1 + 7*3 + 9*1 + 0*3 = 39
            let multiplicador = [1, 3]; /* Multiplicadores que se van alternando en cada digito de ambos prefijos
                                            (Editor, Publicacion) para crear el digito de control */
            let digit_control; // Puede tener valor minimo de 0 y maximo de 9


            for (let i = 0; i < editor_prefijo.length; i++) {
                if (i % 2 === 0) {
                    sum += parseInt(editor_prefijo[i]) * multiplicador[0];
                } else {
                    sum += parseInt(editor_prefijo[i]) * multiplicador[1];
                }
            }

            if (editor_prefijo.length % 2 !== 0) {
                multiplicador = [3, 1];
            }

            for (let i = 0; i < publicacion_prefijo.length; i++) {
                if (i % 2 === 0) {
                    sum += parseInt(publicacion_prefijo[i]) * multiplicador[0];
                } else {
                    sum += parseInt(publicacion_prefijo[i]) * multiplicador[1];
                }
            }

            for (let i = 0; i <= 9; i++) {
                if ((sum + i) % 10 === 0) {
                    digit_control = i;
                    break;
                }
            }

            return digit_control
        }

        function crear_ismn(editor_prefijo, publicacion_prefijo) {
            let digit_validation = digito_control(editor_prefijo, publicacion_prefijo)
            return '979-0' + '-' + editor_prefijo + '-' + publicacion_prefijo + '-' + digit_validation
        }

        editor_input.addEventListener('input', (e) => {
            {% for editor in editores %}
                if (e.target.value === "{{ editor }}") {
                    cant_digitos_prefijo_editor = '{{ editor.prefijo.rango.rango_superior }}'.length;
                    cant_public_editor = {{ editor.musical_publication_set.count }};
                    if (cant_public_editor !== 0) {
                        {% with pub=editor.musical_publication_set.all|dictsort:'prefijo.value'|last %}
                            valor_prefijo_public = String({{ pub.prefijo.value|add:'1' }})
                        {% endwith %}
                    } else valor_prefijo_public = '1'

                    prefijo_publicacion = formatear_prefijo(valor_prefijo_public, cant_digitos_prefijo_editor);
                    // En el excepcional caso que el prefijo del editor necesite un cero delante
                    if ( '{{ editor.prefijo }}' < 10) {
                        prefijo_editor = formatear_prefijo('{{ editor.prefijo }}', prefijo_publicacion.length)
                    } else prefijo_editor = '{{ editor.prefijo }}'
                    editor_prefijo_input.value = "Prefijo del Editor: " + prefijo_editor;
                    publicacion_prefijo_input.value = "Prefijo de la publicación: " + prefijo_publicacion;
                    ismn.value = crear_ismn(prefijo_editor, prefijo_publicacion);
                }
            {% endfor %}
        })

        {% block script-editor %}{% endblock script-editor %}

    </script>

    <!-- Multiselect -->
{#    <script src="{% static 'multiselect-05/js/jquery.min.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
{#    <script src="{% static 'multiselect-05/js/main.js' %}"></script>#}

{% endblock content %}

