{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Añadir Publicacion {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Añadir Publicación Musical
{% endblock navbar-content %}

<!-- Time -->
{% block time %}
    <div class="col-sm">
        <span style="color: #89cff0; align-content: center" id="clock"></span>
    </div>
{% endblock time %}

<!-- Button on navbar -->
{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'backend_publicaciones' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
     <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}

<!-- PAGE CONTENT -->
{% block content %}
    <div class="container">
        <div class="card card-body border-dark mt-5">
            <span class="text-center"> {% block card-title %}
                <span class="text-primary"> INSERTE LOS DATOS DE LA PUBLICACIÓN </span> {% endblock card-title %} </span>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <!-- Form -->
                <form {% block Action %} action="/add_musical_publicaton/" {% endblock Action %} method="POST"
                                         enctype="multipart/form-data" class="card p-3 border-dark mt-3 form-register">
                    {% csrf_token %}

                    <!-- Input ID denied here -->
                    {% block Id-hidden %} {% endblock Id-hidden %}

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-heading"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="title" id="title"
                                       placeholder="Título de la Obra" required
                                        {% block Value-title %}{% endblock Value-title %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-pen"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="autor" id="autor"
                                       placeholder="Autor de la publicación" required
                                        {% block Value-autor %}{% endblock Value-autor %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-user-edit"></i></span>
                                <datalist id="editor">
                                    {% for editor in editores %}
                                        <option value="{{ editor }}"></option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" list="editor" class="form-control editor" maxlength="40"
                                       name="editor"
                                       placeholder="Editor de la publicación" required
                                        {% block Value-editor %}{% endblock Value-editor %}>
                            </div>
                        </div>
                        <div class="col-6" style="padding-left: 0">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-hashtag"></i></span>
                                <input type="text" class="form-control readonly" name="prefijo-editor"
                                       id="prefijo-editor"
                                       title="Número de prefijo del editor" placeholder="Prefijo del Editor" readonly
                                        {% block Value-prefijo-editor %}{% endblock Value-prefijo-editor %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center">
                                    <i class="fas fa fa-hashtag"></i>
                                </span>
                                <input type="text" class="form-control readonly"
                                       name="prefijo-publicacion"
                                       id="prefijo-publicacion" placeholder="Prefijo de la publicación"
                                       title="Número de prefijo de la publicación" readonly
                                        {% block Value-prefijo-publicacion %}{% endblock Value-prefijo-publicacion %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center">
                                    <i class="fas fa fa-barcode"></i>
                                </span>
                                <input type="text" class="form-control readonly" name="ismn"
                                       id="ismn" placeholder="ISMN"
                                       title="ISMN de la publicación" readonly
                                        {% block Value-ISMN %}{% endblock Value-ISMN %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-music"></i></span>
                                <select class="form-select" name="gender" id="gender" required>
                                    {% block Value-Gender %}
                                        <option value="" hidden>Seleccione un género musical</option>
                                    {% endblock Value-Gender %}
                                    <option disabled></option>
                                    <option>Danzón</option>
                                    <option>Fusión</option>
                                    <option>Bolero</option>
                                    <option>Popular Bailable</option>
                                    <option>Mambo</option>
                                    <option>ChaChaCha</option>
                                    <option>Rumba</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-calendar"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="date" id="date"
                                       placeholder="Fecha de creación" required title="Fecha de creación"
                                       onfocus="this(type='date')" onblur="this(type='text')"
                                        {% block Value-date %}{% endblock Value-date %}>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea style="field-sizing: content" class="form-control text-sm" name="note" maxlength="400" id="note" rows="3"
                                  placeholder="La descripción es opcional...">{% block Value-description %}{% endblock Value-description %}</textarea>
                    </div>

                    <hr style="height: 2px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                {% block Value-letter %}{% endblock Value-letter %}
                                <div class="mb-3" style="font-size: 14px;"><i class="fa fa-cloud-upload-alt"></i>&nbsp;&nbsp;
                                    {% block Title-Letter-Sub %}
                                        Subir letra de la canción
                                    {% endblock Title-Letter-Sub %}
                                </div>
                                <input type="file" class="form-control form-control-sm" name="publication_letter"
                                       accept="application/pdf,application/msword,.doc,.docx,.pdf,.txt">
                                <div class="form-text" style="font-size: 12px;">* Extensiones permitidas: .docx - .pdf -
                                    .txt
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                {% block Value-imagen %}{% endblock Value-imagen %}
                                <div class="mb-3" style="font-size: 14px;"><i class="fa fa-cloud-upload-alt"></i>&nbsp;&nbsp;
                                    {% block Title-Imagen-Sub %} Subir imagen de la
                                        publicación {% endblock Title-Imagen-Sub %}
                                </div>
                                <input type="file" class="form-control form-control-sm" name="publication_image"
                                       accept="image/*">
                                <div class="form-text" style="font-size: 12px;">* Extensiones permitidas: jpg - png -
                                    jpeg - *
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="d-flex flex-column gap-2 mt-3">
                        <!-- Add Button -->
                        <button type="submit" class="btn btn-primary btn-sm" id="btn-add">
                            {% block Btn-content %} <i class="fas fa-plus">&nbsp;&nbsp;</i>
                                Agregar {% endblock Btn-content %}
                        </button>

                        <!-- Reset button denied here -->
                        {% block Btn-reset %} {% endblock Btn-reset %}

                        <!-- Back Button -->
                        <a href="{% url 'backend_publicaciones' %}" class="btn btn-dark btn-sm"><i
                                class="fas fa-chevron-left"></i>&nbsp;&nbsp;Atrás</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        /* Notas
        1- La cantidad de digitos que debe tener un ismn en total para Cuba son 13
        2- La cantidad de digitos que deben sumar los prefijos de publicacion y editor son 8
        3- El digito de control se calcula mediante este metodo http://www.grupoalquerque.es/mate_cerca/paneles_2012/168_ISBN2.pdf
        */

        // Variables
        // Selectores de los inputs en el formulario
        const editor_input = document.querySelector('.editor');
        const editor_prefijo_input = document.getElementById('prefijo-editor');
        const publicacion_prefijo_input = document.getElementById('prefijo-publicacion');
        const ismn = document.getElementById('ismn');
        // Cantidad de Publicaciones del editor antes de insertar la nueva publicacion
        let cant_public_editor;
        // Cantidad de digitos que ocupa el prefijo del editor en el ismn
        let cant_digitos_prefijo_editor;
        // Prefijo del editor
        let prefijo_editor;
        // Prefijo con el formato correcto que generamos para la nueva publicacion que se esta insertando: 001,012,0002, etc
        let prefijo_publicacion;
        // Valor numerico de la publicacion: 1,2,3,4,etc
        let valor_prefijo_public;


        // Funcion que formatea el prefijo_publicacion para que tenga el formato de ismn: 001,012,0002, etc
        function formatear_prefijo(valor, cant_digitos_prefijo_companiero) {
            // Cantidad de digitos que debe tener la publicacion segun las reglas ISMN
            let cant_digitos = 8 - cant_digitos_prefijo_companiero;
            // Cantidad de ceros que debe agregar al prefijo de la publicacion
            let zeros = cant_digitos - valor.length;
            // Retorna el valor de la publicacion listo para insertar en el ISMN
            return '0'.repeat(zeros) + valor
        }

        function digito_control(editor_prefijo, publicacion_prefijo) {
            let sum = 39; // Esta es la suma de lote '979-0' aplicando el metodo de 9*1 + 7*3 + 9*1 + 0*3 = 39
            let multiplicador = [1, 3]; /* Multiplicadores que se van alternando en cada digito de ambos prefijos
                                            (Editor, Publicacion) para crear el digito de control */
            let digit_control; // Puede tener valor minimo de 0 y maximo de 9


            for (let i = 0; i < editor_prefijo.length; i++) {
                if (i % 2 === 0) {
                    sum += parseInt(editor_prefijo[i]) * multiplicador[0];
                } else {
                    sum += parseInt(editor_prefijo[i]) * multiplicador[1];
                }
            }

            if (editor_prefijo.length % 2 !== 0) {
                multiplicador = [3, 1];
            }

            for (let i = 0; i < publicacion_prefijo.length; i++) {
                if (i % 2 === 0) {
                    sum += parseInt(publicacion_prefijo[i]) * multiplicador[0];
                } else {
                    sum += parseInt(publicacion_prefijo[i]) * multiplicador[1];
                }
            }

            for (let i = 0; i <= 9; i++) {
                if ((sum + i) % 10 === 0) {
                    digit_control = i;
                    break;
                }
            }

            return digit_control
        }

        function crear_ismn(editor_prefijo, publicacion_prefijo) {
            let digit_validation = digito_control(editor_prefijo, publicacion_prefijo)
            return '979-0' + '-' + editor_prefijo + '-' + publicacion_prefijo + '-' + digit_validation
        }

        editor_input.addEventListener('input', (e) => {
            {% for editor in editores %}
                if (e.target.value === "{{ editor }}") {
                    cant_digitos_prefijo_editor = '{{ editor.prefijo.rango.rango_superior }}'.length;
                    cant_public_editor = {{ editor.musical_publication_set.count }};
                    if (cant_public_editor !== 0) {
                        valor_prefijo_public = String({{ editor.musical_publication_set.last.prefijo.value }} + 1)
                    } else valor_prefijo_public = '1'
                    prefijo_publicacion = formatear_prefijo(valor_prefijo_public, cant_digitos_prefijo_editor);
                    // En el excepcional caso que el prefijo del editor necesite un cero delante
                    if ( '{{ editor.prefijo }}' < 10) {
                        prefijo_editor = formatear_prefijo('{{ editor.prefijo }}', prefijo_publicacion.length)
                    } else prefijo_editor = '{{ editor.prefijo }}'
                    editor_prefijo_input.value = "Prefijo del Editor: " + prefijo_editor;
                    publicacion_prefijo_input.value = "Prefijo de la publicación: " + prefijo_publicacion;
                    ismn.value = crear_ismn(prefijo_editor, prefijo_publicacion)
                }
            {% endfor %}
        })

        {% block script-editor %}{% endblock script-editor %}

    </script>

{% endblock content %}