{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Añadir Publicacion {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Añadir Publicación Musical
{% endblock navbar-content %}

<!-- Time -->
{% block time %}
    <div class="col-sm">
        <span style="color: #89cff0; align-content: center" id="clock"></span>
    </div>
{% endblock time %}

<!-- Button on navbar -->
{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
     <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}

<!-- PAGE CONTENT -->
{% block content %}
    <div class="container">
        <div class="card card-body border-dark mt-5">
            <span class="text-center"> {% block card-title %}
                <span class="text-primary"> INSERTE LOS DATOS DE LA PUBLICACIÓN </span> {% endblock card-title %} </span>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <!-- Form -->
                <form {% block Action %} action="/add_musical_publicaton/" {% endblock Action %} method="POST"
                                         enctype="multipart/form-data" class="card p-3 border-dark mt-3 form-register">
                    {% csrf_token %}

                    <!-- Input ID denied here -->
                    {% block Id-hidden %} {% endblock Id-hidden %}

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-heading"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="title" id="title"
                                       placeholder="Título de la Obra" required
                                        {% block Value-title %}{% endblock Value-title %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-pen"></i></span>
                                <input type="text" class="form-control" maxlength="40" name="autor" id="autor"
                                       placeholder="Autor de la publicación" required
                                        {% block Value-autor %}{% endblock Value-autor %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-user-edit"></i></span>
                                <datalist id="editor">
                                    {% for editor in editores %}
                                        <option value="{{ editor }}"></option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" list="editor" class="form-control editor" maxlength="40"
                                       name="editor"
                                       placeholder="Editor de la publicación" required
                                        {% block Value-editor %}{% endblock Value-editor %}>
                            </div>
                        </div>
                        <div class="col-6" style="padding-left: 0">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center"><i
                                        class="fas fa fa-hashtag"></i></span>
                                <input type="text" class="form-control" name="prefijo-editor" id="prefijo-editor"
                                       title="Número de prefijo del editor" disabled
                                        {% block Value-prefijo-editor %}{% endblock Value-prefijo-editor %}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text side-label-form justify-content-center">
                                    <i class="fas fa fa-hashtag"></i>
                                </span>
                                <input type="text" class="form-control" name="prefijo-publicacion"
                                       id="prefijo-publicacion"
                                       title="Número de prefijo de la publicación" disabled
                                        {% block Value-prefijo-publicacion %}{% endblock Value-prefijo-publicacion %}>
                            </div>
                        </div>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text side-label-form">Fecha</span>
                        <input type="date" class="form-control" maxlength="20" name="date_time" id="date_time" placeholder="Fecha de creación de la obra" required value="{% block Value-date_time %}{% endblock Value-date_time %}">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <label class="input-group-text ">Género Musical</label>
                        <select class="form-select" name="gender" id="gender" required>
                            {% block option %}
                                <option value="" hidden>Seleccione un género musical</option>
                            {% endblock %}
                            <option disabled></option>
                            <option>Danzón</option>
                            <option>Bolero</option>
                            <option>Popular Bailable</option>
                            <option>Mambo</option>
                            <option>ChaChaCha</option>
                            <option>Rumba</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                      <textarea class="form-control text-sm" name="letter_contain" maxlength="1000" id="letter_contain" rows="4" cols="6" placeholder="Letra de la cancion...">{% block Value-letter %}{% endblock Value-letter %}</textarea>
                    </div>

                    <div class="form-group mb-3">
                      <textarea class="form-control text-sm" name="description" maxlength="1000" id="letter_contain" rows="3" cols="5" placeholder="Descripcion de la obra es opcional...">{% block Value-description %}{% endblock Value-description %}</textarea>
                    </div>

                    <div id="div_id_imagen" class="form-group">
                        <label for="id_imagen">Imagen</label>
                        <div><input type="file" name="imagen" id="id_imagen" accept="image/*" class="clearable-file-input form-control-file"></div>{% block Value-imagen %}{% endblock Value-imagen%}
                    </div>

                    <div class="d-grid gap-2 mt-3">

                        <!-- Add Button -->
                        <button type="submit" class="btn btn-primary btn-sm">
                            {% block Btn-content %} <i class="fas fa-plus">&nbsp;&nbsp;</i>Add {% endblock Btn-content %}
                        </button>

                        <!-- Reset button denied here -->
                        {% block Btn-reset %} {% endblock Btn-reset %}

                        <!-- Back Button -->
                        <a href="{% url 'backend_editores' %}" class="btn btn-dark btn-sm"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Variables
        const editor_input = document.querySelector('.editor');
        const editor_prefijo_input = document.getElementById('prefijo-editor');
        const publicacion_prefijo_input = document.getElementById('prefijo-publicacion');
        let cant_public_editor;
        let rango_prefijo_editor;
        let cant_digitos_prefijo_editor;
        let prefijo_publicacion;
        let valor_prefijo_public;

        function formatear_prefijo(valor, rango_prefijo_editor, cant_digitos_prefijo_editor) {
            let cant_digitos_public = 8 - cant_digitos_prefijo_editor;
            let zeros = cant_digitos_public - valor.length;
            return '0'.repeat(zeros) + valor
        }

        editor_input.addEventListener('input', (e) => {
            {% for editor in editores %}
                if (e.target.value === "{{ editor }}") {
                    editor_prefijo_input.value = "Prefijo del Editor: {{ editor.prefijo }}";
                    cant_public_editor = {{ editor.musical_publication_set.count }};
                    valor_prefijo_public = String(cant_public_editor + 1)
                    rango_prefijo_editor = '{{ editor.prefijo.rango }}';
                    cant_digitos_prefijo_editor = '{{ editor.prefijo.rango.rango_superior }}'.length
                    prefijo_publicacion = formatear_prefijo(valor_prefijo_public, rango_prefijo_editor, cant_digitos_prefijo_editor);
                    publicacion_prefijo_input.value = "Prefijo de la publicación: " + prefijo_publicacion;
                }
            {% endfor %}
        })
    </script>
{% endblock content %}