{% extends 'publicaciones/add_publication.html' %}

<!-- Title on tab browser -->
{% block title %} Publicacion Musical {% endblock title %}

<!-- Input ID passed here -->
{% block Id-hidden %} <input type="text" name="id" value="{{ musical_publication.id }}" hidden> {% endblock Id-hidden %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-edit"></i>&nbsp;&nbsp;Obra: {{ musical_publication.name }}
{% endblock navbar-content %}

<!-- Title in card -->
{% block card-title %} Insertado en: <span class="text-primary"> <strong> {{ musical_publication.created_at | date:'m/d/Y (H:i)' }} </strong></span> {% endblock card-title %}

<!-- Form Action -->
{% block Action %} action="/edit_musical_publication/" {% endblock Action %}

<!--=========== Extends all <inputs> from add.html ===========-->
{% block Value-name %} value = "{{ musical_publication.name }}" {% endblock Value-name %}
{% block Value-autor %} value = "{{ musical_publication.autor }}" {% endblock Value-autor %}
{% block Value-ismn %} value = "{{ musical_publication.ismn }}" {% endblock Value-ismn %}
{% block Value-date_time  %}{{ musical_publication.date_time | date:"Y-m-d" }}{% endblock Value-date_time %}
{% block Value-imagen %} <a href="/media/{{ musical_publication.imagen.name }}">{{ musical_publication.imagen.name }}</a>{% endblock Value-imagen %}

{% block option %} <option style="background-color: #d3d3d3; color: #0a6ebd; font-weight: bold"> {{ musical_publication.gender }} {% endblock %}
{% block Value-description %}{{ musical_publication.description }}{% endblock Value-description %}
{% block Value-letter %}{{ musical_publication.letter_contain }}{% endblock Value-letter %}


<!-- Extends ADD Button -->
{% block Btn-content %} <i class="fas fa-hdd">&nbsp;&nbsp;</i> Save {% endblock Btn-content %}

<!-- Extends Reset Button -->
{% block Btn-reset %}
    <button type="reset" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp; Reset</button>
 {% endblock Btn-reset %}