{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Title on tab browser -->
{% block title %} Cambiar contraseña {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-key"></i>&nbsp;&nbsp; Cambiar contraseña
{% endblock navbar-content %}

<!-- Button on navbar -->
{% block nav-btn %}
    <a href="{% url 'frontend' %}" style="float: right" class="btn text-light btn-sn" id="btn-nav"><i
            class="fas fa-chevron-left"></i>&nbsp;&nbsp;Atrás</a>
{% endblock nav-btn %}

<!-- Page content -->
{% block content %}
    <div class="container mt-5 border-dark" style="max-width: 600px; max-height: 500px; overflow: auto;">
        <div class="card p-3">
            <a class="btn mt-3 mb-4" style="border: solid #ccc 1px"><i class="fa fa-lock"></i>&nbsp;&nbsp; Ingrese su contraseña
                anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos
                verificar que la escribió correctamente.</a>
            <form method="POST" autocomplete="off" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-sm mt-4 mb-3 w-100" id="btn-add">
                    <i class="fas fa-key">&nbsp;&nbsp;</i>&nbsp;&nbsp;Cambiar
                </button>
            </form>
        </div>

    </div> <!-- END // container -->
{% endblock content %}

{% block Offcanvas %}
    <a href="{% url 'musical_colections' %}" class="btn btn-dark text-white"><i class="fas fa-music"></i>&nbsp;&nbsp;Colecciones Musicales</a>
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}
