{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Login {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-key"></i>&nbsp;&nbsp; Login
{% endblock navbar-content %}

<!-- Button on navbar -->
{% block nav-btn %}
     <a href="{% url 'frontend' %}" style="float: right" class="btn border-dark text-light btn-sn" id="btn-nav" ><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
{% endblock nav-btn %}

<!-- Page content -->
{% block content %}
    <div class="container mt-5" id="loginForm">
        <div class="card p-3 border-dark">
            <a class="btn btn-outline-dark mt-3"><i class="fa fa-lock"></i>&nbsp;&nbsp; RESTRICTED ACCESS</a>
            <form method="POST" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="input-group mb-3 mt-5">
                    <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                    <input type="text" class="form-control" name="username" maxlength="30" placeholder="Username">
                </div>
                <div class="input-group mb-3 mt-3 position-relative">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="userPassword" maxlength="30">
                    <i class="fa fa-eye-slash position-absolute" onclick="toggleFunction()" style="cursor: pointer; bottom: .5rem; right: 1rem;" id="toggleIcon"></i>
                </div>
                <input class="btn btn-primary btn-sm mt-4 mb-3" type="submit" value="Enter">

            </form>
        </div>

        <div class="card mt-3 p-2 border-dark">
            <label for="register">Si no posee una cuenta puede: &nbsp;<a id="register" href="{% url 'register_user' %}">Solicitar Registro</a></label>

        </div>

        <!-- Message from backend -->
        {% if form.errors %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                swal("Acceso Denegado !", "Inserte sus datos correctamente.", "error");
            </script>
        {% endif %}

        <div id="sing-in" style="text-align: center;">
            <i class="text-primary mt-4 fas fa-sign-in-alt fa-8x blink_ne"></i>
        </div>
    </div> <!-- END // container -->
{% endblock content %}

{% block Offcanvas %}
    <a href="{% url 'musical_colections' %}" class="btn btn-dark text-white"><i class="fas fa-music"></i>&nbsp;&nbsp;Colecciones Musicales</a>
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}