{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Iniciar Sesión {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp; Iniciar sesión
{% endblock navbar-content %}

<!-- Button on navbar -->
{% block nav-btn %}
    <a href="{% url 'frontend' %}" style="float: right" class="btn text-light btn-sn" id="btn-nav"><i
            class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
{% endblock nav-btn %}

<!-- Page content -->
{% block content %}
    <div class="container mt-5" id="loginForm">
        <div class="card p-3">
            <a class="btn mt-3" style="border: solid #ccc 1px"><i class="fa fa-lock"></i>&nbsp;&nbsp; ACCESO
                LIMITADO</a>
            <form method="POST" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="input-group mb-3 mt-5">
                    <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                    <input type="text" class="form-control" name="username" maxlength="30" placeholder="Username">
                </div>
                <div class="input-group mb-3 mt-3 position-relative">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="userPassword" maxlength="30">
                    <i class="fa fa-eye-slash position-absolute" onclick="toggleFunction()" style="cursor: pointer; bottom: .5rem; right: 1rem;" id="toggleIcon"></i>
                </div>
                <button type="submit" class="btn btn-primary btn-sm mt-4 mb-3 w-100" id="btn-add">
                    <i class="fas fa-sign-in-alt">&nbsp;&nbsp;</i> Iniciar Sesión
                </button>

            </form>
        </div>

        <div class="card mt-3 p-2">
            <label for="register">Si no posee una cuenta puede: &nbsp;<a id="register" href="{% url 'register_user' %}">Solicitar Registro</a></label>

        </div>

        <!-- Message from backend -->
        {% if form.errors %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                swal("Acceso Denegado !", "Inserte sus datos correctamente.", "error");
            </script>
        {% endif %}
    </div> <!-- END // container -->
{% endblock content %}

{% block Offcanvas %}
    <a href="{% url 'musical_colections' %}" class="btn btn-dark text-white"><i class="fas fa-music"></i>&nbsp;&nbsp;Colecciones Musicales</a>
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}