{% extends 'editores/add.html' %}

<!-- Title on tab browser -->
{% block title %} Usuario Registro {% endblock title %}
{% block card-title %}
    <span class="text-primary"> INSERTE SUS DATOS
        <br> NOTA IMPORTANTE:
        Favor tenga en cuenta que según los parámetros de la Agencia Internacional el ISMN debe ser solicitado a
        nombre de la entidad o persona natural legal y económicamente responsable de una publicación determinada,
        en ningún caso los registros de ISMN deben ser solicitados a nombre de las empresas, representante legal
        o personas que son contratadas para prestar distintos servicios de edición tales como diagramación, diseño,
        encuadernación e impresión.
    </span>
{% endblock card-title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-user"></i>&nbsp;&nbsp; Registro de Usuario
{% endblock navbar-content %}

{% block Action %} action="/register_user/" {% endblock Action %}

{% block Btn-content %}
    <button type="submit" class="btn btn-primary btn-sm" id="btn-add">
        <i class="fa fa-registered"></i>&nbsp;&nbsp;Registrarse
    </button>
{% endblock Btn-content %}

{% block Offcanvas %}
    <a href="{% url 'musical_colections' %}" class="btn btn-dark text-white"><i class="fas fa-music"></i>&nbsp;&nbsp;Colecciones Musicales</a>
    <a class="btn btn-dark" href="{% url 'login' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock %}


