{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Add Editor {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-user-plus"></i>&nbsp;&nbsp; Añadir Editor
{% endblock navbar-content %}

<!-- Time -->
{% block time %}
    <div class="col-sm">
        <span style="color: #89cff0; align-content: center" id="clock"></span>
    </div>
{% endblock time %}

<!-- PAGE CONTENT -->
{% block content %}
    <div class="container">
        <div class="card card-body border-dark mt-5">
            <span class="text-center"> {% block card-title %} <span class="text-primary"> INSERTE SUS DATOS </span> {% endblock card-title %} </span>
        </div>

        <!-- Column #1 -->
        <div class="row">
            <div class="col-lg-6">

                <!-- Form -->
                <form {% block Action %} action="/add_editor/" {% endblock Action %} method="POST" enctype="multipart/form-data" class="card p-3 border-dark mt-3" style="height: 450px; overflow-y: auto">
                    {% csrf_token %}

                    <!-- Input ID denied here -->
                    {% block Id-hidden %} {% endblock Id-hidden %}

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" maxlength="40" name="name" id="name" placeholder="Nombre" required {% block Value-name %}{% endblock Value-name %}>
                    </div>

                    <div class="input-group input-group-sm position-relative mb-3">
                        <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" id="userPassword">
                        <i class="fa fa-eye-slash position-absolute" onclick="toggleFunction()" style="cursor: pointer; bottom: .5rem; right: 1rem;" id="toggleIcon"></i>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-phone"></i></span>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Número de teléfono" required {% block Value-phone %}{% endblock Value-phone %}>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text side-label-form justify-content-center"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" maxlength="40" name="email" id="email" placeholder="Correo electrónico" required {% block Value-email %}{% endblock Value-email %}>
                    </div>

                    <div class="card card-body d-flex mb-3 border-gray">
                        <label for="editorTypetitle" class="text-center mb-2">
                            <i class="fa fa-building" id="editorTypetitle"></i>&nbsp;Tipo de Editor
                        </label>
                        <div class="d-flex justify-content-around">
                            <span><input type="radio" name="editorType">&nbsp;Independiente</span>
                            <span><input type="radio" name="editorType">&nbsp;Compañia</span>
                        </div>
                    </div>


{#                    <div class="input-group">#}
{#                        <div class="input-group input-group-sm mb-3">#}
{#                            <label class="input-group-text side-label-form"><i class="fa fa-random"></i></label>#}
{#                            <select class="form-select form-control" name="prefijoType" id="prefijoType" required>#}
{#                                {% block option %}#}
{#                                    <option value="" hidden>Tipo de prefijo</option>#}
{#                                {% endblock %}#}
{#                                <option disabled></option>#}
{#                                <option>Independiente</option>#}
{#                                <option>Compañia</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="input-group input-group-sm mb-3">#}
{#                        <span class="input-group-text side-label-form"><i class="fa fa-barcode"></i></span>#}
{#                        <input type="text" class="form-control" name="prefijo" id="prefijo" maxlength="6" placeholder="Prefijo" required {% block Value-prefijo %}{% endblock Value-prefijo %}>#}
{#                    </div>#}

                    <div class="form-group mb-3">
                      <textarea class="form-control text-sm" name="note" maxlength="1000" id="note" rows="4" placeholder="Description is optional...">{% block Value-description %}{% endblock Value-description %}</textarea>
                    </div>

                    <div class="d-grid gap-2 mt-3">

                        <!-- Add Button -->
                        {% block Btn-content %}
                            <button type="submit" class="btn btn-primary btn-sm" id="btn-add">
                                 <i class="fas fa-plus">&nbsp;&nbsp;</i>Add
                            </button>
                        {% endblock Btn-content %}

                        <!-- Reset button denied here -->
                        {% block Btn-reset %} {% endblock Btn-reset %}

                        <!-- Back Button -->
                        <a href="{% url 'backend' %}" class="btn btn-dark btn-sm"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

            </div>
        </div>
    </div>
{% endblock content %}

{% block Offcanvas %}
    <a class="btn btn-dark" href="{% url 'frontend' %}"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}