{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Colecciones Musicales {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
    <i class="fas fa-music"></i>&nbsp;&nbsp;Publicaciones Musicales
{% endblock navbar-content %}

<!-- Button on navbar -->
{% block nav-btn %}
    <a href="{% url 'frontend' %}" style="float: right" class="btn border-dark text-light btn-sn" id="btn-nav" ><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
{% endblock nav-btn %}

<!-- CONTENT PAGE -->
{% block content %}

    <div class="container">

        <br><br>

        <!-- Barra de búsqueda -->
        <form>
            <div class="input-group input-group-sm mb-3 mt-4">
                <input name="q" type="text" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
                <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
                <a data-fancybox="gallery" href="{% url 'musical_colections' %}" class="btn btn-dark" style="margin-left: 2px"><i class="fas fa-sync-alt"></i></a>
            </div>
        </form>


        <div class="musicales">
            {% for p in publicaciones_musicales %}
                <div class="musical">
                    <div class="contenedor_musical">
                        {% if p.imagen %}
                            <div class="container_img">
                                <img class="card-img" src="{{ p.imagen.url }}" alt="imagen musical">
                                {% if request.user.is_superuser %}
                                    <div class="container">
                                        <a href="/musical_publication/{{ p.id }}" class="btn btn-primary" title="Edit Musical_Publication">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btn-secondary " title="Delete Musical_Publication" data-bs-toggle="modal" data-bs-target="#deleteModal{{ p.pk }}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <img class="card-img" src="/media/album_default.jpg" alt="imagen musical">
                            {% if request.user.is_superuser %}
                                <div class="container">
                                    <a href="/musical_publication/{{ p.id }}" class="btn btn-primary" title="Edit Musical_Publication">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a class="btn btn-secondary " title="Delete Musical_Publication" data-bs-toggle="modal" data-bs-target="#deleteModal{{ p.pk }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            {% endif %}

                        {% endif %}
                        <div class="detalle text-left">
                            <h5>{{ p.gender }}</h5>
                            <h2>{{ p.name | title }}</h2>
                            <h3>{{ p.autor | capfirst }}</h3>
                        </div>
                    </div>
                </div>

                <!-- Delete confirmation -->
                <div class="modal fade" id="deleteModal{{ p.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Eliminar Publicacion Musical</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center">
                        <div class="text-center text-danger"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i></div>
                          <div class="text-center text-danger">
                              <span>DO YOU WANT TO DELETE THIS MUSICAL PUBLICATION ???</span>
                              <div class="text-dark mt-3 mb-2 "><strong>Musical Publication: {{ p.name }}</strong></div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                        <a href="/delete_musical_publication/{{ p.id }}" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
        {% if mensaje %}
            <h1 class="display-4 text-center mt-5 text-danger">{{ mensaje }}</h1>
        {% endif %}
    </div>

{% endblock content %}