<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/App/static/css/estudio.css">
</head>
<body>
<h1>Curso de CSS Animaciones</h1>
<section class="container-img2">
    <img src="/media/wolfgang-hasselmann-zFMbpChjZGg-unsplash.jpg" alt="">
    <img src="/media/pizza-3007395_640.jpg" alt="">
    <img src="/media/pete-alexopoulos-Qou87ZmUq9I-unsplash.jpg" alt="">
    <img src="/media/neom-Nnh4gV8TwlY-unsplash.jpg" alt="">
    <img loading="lazy" src="/media/madara-OhU3CQQKTmY-unsplash.jpg" alt="">
    <img loading="lazy" src="/media/leaves-8390274_640.jpg" alt="">
    <img loading="lazy" src="/media/coaster-8485316_640.jpg" alt="">
    <img loading="lazy" src="/media/chinese-1840332_640.jpg" alt="">
    <img loading="lazy" src="/media/beach-1236581_640.jpg" alt="">
    <img loading="lazy" src="/media/balloon-3206530_640.jpg" alt="">
    <img loading="lazy" src="/media/antonio-janeski-BUhTHmoEYOQ-unsplash.jpg" alt="">
</section>
<div class="columns">
    <div class="column column-reverse">
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/1.04213a58.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Cyber Blue</span> <span>2011</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/2.3ff1fdb6.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Gnostic Will</span> <span>2012</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/3.b606be87.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>French Kiss</span> <span>2013</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/4.24fd614c.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Half Life</span> <span>2014</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/5.d13f5e61.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Love Boat</span> <span>2015</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/6.786c7db4.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Golden Ray</span> <span>2016</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/7.df95fe5c.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Blame Game</span> <span>2017</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/8.e7faf38e.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Lone Dust</span> <span>2018</span></figcaption>
        </figure>
    </div>
    <div class="column">
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/9.ea63bab4.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Lucky Wood</span> <span>2019</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/10.57de09c7.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Good Earth</span> <span>2020</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/11.ba790930.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Empty Words</span> <span>2021</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/12.c3a8d893.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Nonage Line</span> <span>2009</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/13.3bd52250.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Blue Hell</span> <span>2010</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/14.b7263516.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Cold Blood</span> <span>2011</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/15.55bda21b.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Tulip Heat</span> <span>2012</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/16.eb88393b.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Red Wrath</span> <span>2013</span></figcaption>
        </figure>
    </div>
    <div class="column column-reverse">
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/17.3450839a.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Bold Human</span> <span>2014</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/18.763d23f6.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Loyal Royal</span> <span>2015</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/19.be25549f.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Lone Cone</span> <span>2016</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/20.d7a9356b.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Dutch Green</span> <span>2017</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/21.4c8813a5.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Valley Hill</span> <span>2018</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/22.ec97ea6e.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Kale Hale</span> <span>2019</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/23.49e8893a.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Fake Cake</span> <span>2020</span></figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="https://tympanus.net/Development/ColumnScroll/24.057dafba.jpg" alt="" title="" height=""
                     width="">
            </div>
            <figcaption class="column__item-caption"><span>Book Belly</span> <span>2021</span></figcaption>
        </figure>
    </div>
</div>

<!--
<img class="mario" src="/media/klipartz.com.png" alt="">
<div class="pulser"></div>
<section class="container-template">
    <header>header</header>
    <aside>aside</aside>
    <main>content</main>
    <footer>footer</footer>
</section>

<section class="container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
</section>
<section class="parent">
    <div class="item title">Title</div>
    <div class="item dat">Date</div>
    <div class="item titulo">mensajes</div>
    <div class="item not">notificaciones</div>
    <div class="item men">menu</div>
</section>


<section class="contenedor">
    <div class="div1">&nbsp; DIV #1</div>
    <div class="div2">&nbsp; DIV #2</div>
    <div class="div3">&nbsp; DIV #3</div>
    <div class="div4">&nbsp; DIV #4</div>
    <div class="div5">&nbsp; DIV #5</div>
    <div class="div6">&nbsp; DIV #6</div>
</section> -->
<img class="mario_runer" src="/media/klipartz.com.png" alt="">
<div class="progress"></div>
</body>
</html>
