<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/App/static/css/estudio2.css">
</head>
<body>
<main>
    <article class="scroller">
        <section><h2>Section one</h2></section>
        <section><h2>Section two</h2></section>
        <section><h2>Section three</h2></section>
    </article>
    <div data-component="carousel">
        <ul class="entries" tabindex="0">
            <li><a name="carousel_01"><img
                    src="https://scroll-driven-animations.style/demos/carousel-with-markers/shared/img/matroshka-01.svg"
                    alt="" title="" width="222" height="184"
                    draggable="false"></a></li>
            <li><a name="carousel_02"><img
                    src="https://scroll-driven-animations.style/demos/carousel-with-markers/shared/img/matroshka-02.svg"
                    alt="" title="" width="222" height="184"
                    draggable="false"></a></li>
            <li><a name="carousel_03"><img
                    src="https://scroll-driven-animations.style/demos/carousel-with-markers/shared/img/matroshka-03.svg"
                    alt="" title="" width="222" height="184"
                    draggable="false"></a></li>
            <li><a name="carousel_04"><img
                    src="https://scroll-driven-animations.style/demos/carousel-with-markers/shared/img/matroshka-04.svg"
                    alt="" title="" width="222" height="184"
                    draggable="false"></a></li>
            <li><a name="carousel_05"><img
                    src="https://scroll-driven-animations.style/demos/carousel-with-markers/shared/img/matroshka-05.svg"
                    alt="" title="" width="222" height="184"
                    draggable="false"></a></li>
        </ul>
        <ul class="markers">
            <li><a href="#carousel_01"><span class="sr-only">Photo 1</span></a></li>
            <li><a href="#carousel_02"><span class="sr-only">Photo 2</span></a></li>
            <li><a href="#carousel_03"><span class="sr-only">Photo 3</span></a></li>
            <li><a href="#carousel_04"><span class="sr-only">Photo 4</span></a></li>
            <li><a href="#carousel_05"><span class="sr-only">Photo 5</span></a></li>
        </ul>
    </div>
</main>
</body>
</html>
