{% extends 'base.html' %}

<!-- Page Content -->
{% block content %}

    <div class="block-position">
        <h1 class="text-danger text-shadow"><span class="text-dark" id="element"></span>&nbsp;Cuba</h1>
    </div>

    <style>
        body {
            background-image: url("../static/img/home.jpg");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <!-- Spinner Ajax (backend) -->
    <div id="bg-spinner">
        <div id="position-spinner">
            <span id="spinner"></span>
        </div>
    </div>
    <br><br><br><br>

{% endblock content %}

{% block Offcanvas %}
    <a href="{% url 'musical_colections' %}" class="btn btn-dark text-white"><i class="fas fa-music"></i>&nbsp;&nbsp;Colecciones Musicales</a>
    {% if request.user.is_authenticated %}
        {% if request.user.especialista %}
            <a class="btn btn-dark" href="{% url 'backend_editores' 'list_dsc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Lista
                de Editores</a>
            <a class="btn btn-dark" href="{% url 'backend_publicaciones' 'list_dsc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Lista
                de Publicaciones</a>
            <a class="btn btn-dark" href="{% url 'backend_solicitudes' 'list_dsc' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;Lista de Solicitudes</a>
        {% elif request.user.editor %}
            <a class="btn btn-dark" href="{% url 'solicitud-ismn' %}"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Solicitud ISMN</a>
            <a class="btn btn-dark" href="{% url 'edit_profile' %}"><img class="img-profile" src="{{ user.editor.image_profile.url }}" alt="imagen perfil"
                    style="border-color: black">&nbsp;&nbsp;Información de Perfil</a>
            <a class="btn btn-dark" href="{% url 'change_password' %}"><i class="fas fa-key"></i>&nbsp;&nbsp;Cambiar contraseña</a>
        {% endif %}
        <a class="btn btn-danger" href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Cerrar Sesión</a>
    {% else %}
        <a class="btn btn-dark" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Iniciar Sesión</a>
    {% endif %}
    <hr>
    <a href="#" class="btn btn-dark">
        <i class="fas fa-headset"></i>&nbsp;&nbsp; Ayuda
    </a>
{% endblock Offcanvas %}

