<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: #d3d3d3">
<style>
    @import url('https:fonts.googleapis.com/css?family=Roboto');
</style>
<br>
<center>
    <div style="background-color: #fff; width: 85%; height: 1200px; border-radius: 5px; margin-top: 50px; font-family: roboto;">
        <br>
        <p style="font-size: 28px; color: black">{{ name }}</p>
        <hr style="width: 90%;">
        <br>
        <p style="font-size: 18px; text-align: left; margin-left: 40px;"><strong>DATOS PERSONALES:</strong></p>
        <p style="font-size: 15px; text-align: left; margin-left: 40px;"><stron>Age: {{ age }}</stron></p>
        <p style="font-size: 15px; text-align: left; margin-left: 40px;"><stron>Phone: {{ phone }}</stron></p>
        <p style="font-size: 15px; text-align: left; margin-left: 40px;"><stron>Email :{{ email }}</stron></p>
        <p style="font-size: 15px; text-align: left; margin-left: 40px;"><stron>Address: {{ address }}</stron></p>

        <div style="text-align: left; margin-left: 40px; margin-right: 35px;">
            <br>
            <p style="font-size: 18px;"><strong>DESCRIPCION</strong></p>
            <textarea rows="15" style="width: 100%; border: none; overflow: hidden;">{{ descripcion }}</textarea>
        </div>

        <br><br><br><br>
        <hr style="color: #d3d3d3; width: 90%;">
        {% now "m/d/Y (H:i)" %}
    </div>
</center>
<br><br><br>
</body>
</html>
